// Insert your styling here.
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: @AauxRegular;
  font-size: 16px;
  line-height: 1.5;
  @media(min-width: @screen-md-min) {
    font-size: 18px;
  }
}

td, th {
  vertical-align:top;
}

.safari select#edit-submitted-reason-of-contact {
  -webkit-appearance:none;
}
select#edit-submitted-reason-of-contact {
  border-radius: 0px !important;
}
.img-resp {
 max-width: 100%;
 height: auto!important;
}

.container {
  max-width: auto;
  width: 100%;
  max-width: 1220px;
}

a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: @jewel-blue;
  &:hover {
    color: @jewel-blue-dark;
    text-decoration: none;
  }
}

h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  color: @jewel-blue;
  @media(min-width: @screen-md-min) {
    font-size: 31px;
  }
}
h3 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: @jewel-blue;
  @media(min-width: @screen-md-min) {
    font-size: 36px;
  }
}
.block-system dl {
  margin-bottom: 0;
}
/*Basic Page */
.page-header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  border-bottom: none;
  font-size: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  color: @jewel-blue;
  @media(min-width: @screen-md-min) {
    font-size: 50px;
      margin-bottom: 10px;
  }
}
.region-content {
  padding-bottom: 40px;
  @media(min-width: @screen-lg-min) {
		width: 1220px;
		margin: auto;
	}
  @media(max-width: @screen-lg-min) {
		margin-left: 30px;
		margin-right: 30px; 
	}
}

.btn.btn-default {
  background-color: @orange;
  border-color: @orange;
  color: #fff;
  border-radius: 0 !important;
  padding: 3px 55px 3px 15px !important;
  font-family: @AauxRegularItalic;
  font-style: italic;
  font-size: 14px;
  background: #f1601f url(../images/more-arrow.png) no-repeat;
  background-position: 93% center;
  -webkit-font-smoothing: subpixel-antialiased;
  &:hover {
    background-color: @orange-dark;
    border-color: @orange-dark;
    color: #fff;
  }
  a {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
a.btn-success,
a.btn-success:active,
a.btn-success:focus,
.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-info,
.btn-info:active,
.btn-info:active:focus,
.btn-info:focus,
a#edit-cancel,
button.btn-danger:focus,
button.btn-danger:active,
button.btn-danger,
button.btn-primary:active,
button.btn-primary:focus,
button.btn-primary {
  .btn.btn-default;
}
a#edit-cancel {
  display: inline-block;
  margin-top: 2px;
  position: relative;
  top: 3px;
  height: 28px;
  margin-left: 8px;
}
button.cancel,
button#edit-previous,
a#edit-cancel,
button.btn-primary,
button.btn-primary:focus,
button.btn-primary:active,
button.btn-danger:focus,
button.btn-danger:active,
button.btn-danger {
  background-image: none;
}
.btn-danger {
  font-family: @AauxRegularItalic;
  font-style: italic;
  font-size: 14px;
  border-radius: 0 !important;
}
.btn-success,
.btn-success:active,
.btn-success:focus {
  margin-top: 10px;
}

.form-control {
  border-radius: 4px!important;
  height: 29px;
  &.form-textarea {
    height: auto;
  }
}

.alert {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 0;
}
.not-front {
  .alert {
    position: static;
  }
}
.page-node-done {
  h1 {
    display: none;
  }
  .webform-confirmation {
    p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: @jewel-blue;
    @media(min-width: @screen-md-min) {
      font-size: 36px;
    }
    }
  }
}
.page-node-add {
  h1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: @jewel-blue;
    @media(min-width: @screen-md-min) {
      font-size: 36px;
    }
  }
}

/* My Account styling */
.page-user {
  .main-container {
    @media(max-width: @screen-xs-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .profile {
    .user-picture {
      float: left;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      @media(min-width: @screen-md-min) {
        margin-right: 20px;
        width: initial;
      }
      img {
        margin: 0 auto;
        @media(max-width: @screen-xs-max) {
          width: 100%;
        }
      }
    }
    .field {
      width: 100%;
      float: left;
      .field-label {
        float: left;
        width: 200px;
      }
      .field-items {
        float: left;
      }
      @media(min-width: @screen-md-min) {
        width: 50%;
      }
    }
    h3,
    dl {
      float: left;
      width: 100%;
    }
    @media(max-width: @screen-sm-max) {

    }
  }
}

/* Breadcrumb */
.breadcrumb {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  li {
    float: left;
    font-size: 12px;
    color: #989898;
    padding: 7px 0px;
    text-transform: uppercase;
    position: relative;
    font-family: @AauxBold;
    a {
      color: #989898;
      &:hover {
        color: #F1601F;
      }
    }
    &.last {
      a {
        color: #F1601F;
      }
      color: #F1601F;
    }
    &.first.last {
      a {
        color: #989898;
      }
      &:hover {
        color: #F1601F;
      }
    }
  }
  &>li + li:before {
    content: ' >';
    font-size:8px;
    color:#989898;
  }
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  margin-top: 7px;
}
.radio label, .checkbox label {
  padding-left: 30px;
}
.form-horizontal {
  .form-group {
    margin-left: initial;
    margin-right: initial;
  }
}
.media-list-thumbnails {
  .form-type-checkbox {
    bottom: 35px;
  }
  .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 4px;
    margin-left: 5px;
  }
  img {
    width: 180px;
  }
}
a.tabledrag-handle {
  .handle {
    background-position: 6px -11px !important;
  }
}

.btn-danger {
  margin-left: 10px !important;
}


/* My content page */
.panels-flexible-region-7-center {
  width: 100%;
  .quicktabs-tabs {
    padding-left:0;
    margin-bottom:30px;
    a {
      font-size:20px;
      color:#333;
      font-family: "Arial";
      font-style: normal;
      font-weight: 400;
      text-decoration:none;
      @media(min-width: @screen-md-min){
      font-size:36px;
      }
    }
    .active a{
       color: @jewel-blue;
    }
    .first {
      padding-right:30px;
    }
  }
}

.view-generic-content-template-a {
  .views-row {
    display:inline-block;
    width:100%;
    padding-bottom:20px;
    @media(min-width: @screen-sm-min){
      padding-bottom:50px;
    }
    .views-field-field-image-description {
      padding-bottom:10px;
      img {
        width:100%;
        height:auto;
      }
     @media(min-width: @screen-sm-min){
        float:left;
        padding-right:30px;
        padding-bottom:initial;
        img {
          width:initial;
        }
     }

    }
   .views-field-field-menu-title {
    h3 {
      margin-top: 0;
      line-height: 30px;
    }
   }
  }
}
.view-generic-content-template-b {
  .views-row {
    padding-bottom: 20px;
    @media(min-width: @screen-sm-min) {
      padding-bottom:30px;
    }
  }
}

/* SDS Search page */
form#-partner-portal-msds-interface-search-form,
form#-partner-portal-1secure-interface-search-form {
  legend.panel-heading {
    background-color: #008d9c;
    color: #fff;
  }
  .form-item-msds-search-text,
  .form-item-catalogue-search-text {
    @media(min-width: @screen-md-min) {
      width: 50%;
      float: left;
      margin-right: 2%;
    }
  }
  .form-item-msds-country,
  .form-item-msds-language {
    @media(min-width: @screen-md-min) {
      width: 18%;
      float: left;
      margin-right: 2%;
    }
  }
  button {
    .btn.btn-default;
    margin-top: 31px;
    margin-bottom: 15px;
  }
  #catalogue_search_results {
    clear: both;
  }
}

/* Webform confirmation page */
.page-node-done .region-content .links {
  display: none;
}
.webform-client-form .form-required {
  display:none;
}
.form-group {
  .form-type-select {
    select.form-control {
      @media(min-width: @screen-md-min) {
        width: 50%;
      }
    }
  }
}

/* Manage content with editor styling  */
.password-parent {
  @media(max-width: @screen-xs-max) {
    width: 100%;
  }
  .password-strength {
  @media(max-width: @screen-xs-max) {
    float: none;
  }
  }
}
form#locale-languages-overview-form {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}
.vbo-views-form thead {
  .form-type-checkbox {
    bottom: 25px;
  }
}
td.views-field.views-field-nid,
th.views-field.views-field-nid {
  padding-left: 15px;
}
#edit-operation,
#edit-options .form-item-operation,
#edit-options--2 .form-item-operation {
  margin-left: 15px;
}
.pane-quicktabs-manage-content {
  .views-exposed-form {
    .views-exposed-widget{
      .btn-info {
        margin-top: 2.2em;
      }
    }
  }
  #media-browser-library-list {
    li {
      margin-right: 9px;
    }
  }
  .quicktabs-tabpage {
    a.btn.btn-success {
      margin-bottom: 12px;
    }
  }
  ul.quicktabs-style-nostyle {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    padding-left: 0;
    padding-bottom: 8px;
    margin-top: 35px;
    li {
      a {
        color: #555555;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
        margin-right: 2px;
        line-height: 1.42857143;
        border-radius: 4px 4px 0 0;
        padding: 10px 15px;
        text-decoration: none;
        &:hover {
          padding-bottom: 11px;
        }
      }
      &.active {
        a {
          padding-bottom: 11px;
        }
      }
    }
    &:before {
      content: " ";
      display: table;
    }
  }
}
.ui-dialog {
  .ui-dialog-titlebar {
    padding: 0;
    .ui-dialog-title {
      margin: 0;
    }
    button.ui-dialog-titlebar-close {
      &:before {
        content: "\2716";
        font-size: 15px;
        position: relative;
        top: -10px;
      }
    }
  }
}

/* Create user page */
#user-register-form,
#user-profile-form {
  .field-name-field-user-first-name,
  .field-name-field-user-last-name,
  .field-name-field-user-company-name,
  .form-item-name,
  .form-item-mail,
  .field-name-field-user-phone-number,
  .field-name-field-user-country-code,
  .form-item-msds-language,
  .form-item-current-pass {
    width: 90%;
    @media(min-width: @screen-md-min) {
      width: 80%;
    }
    @media(min-width: @screen-lg-min) {
      width: 50%;
    }
  }
  .form-item-language,
  .form-item-files-picture-upload,
  .form-item-timezone {
    float:left;
    .form-item-language {
      float: none;
    }
  }
  .form-item-status {
    clear: both;
  }
  .password-suggestions.description {
    clear: both;
    width: 100%;
  }
  .form-type-password-confirm {
    width: 80%;
    float: left;
    @media(min-width: @screen-md-min) {
      width: 70%;
    }
    @media(min-width: @screen-lg-min) {
      width: 50%;
    }
    .form-type-password {
      width: 100%;
      float: left;
      .form-control {
        @media(max-width: @screen-md-max) {
          width:100%;
        }
      }
    }
  }
}
#user-login, #user-pass {
  input {
    @media(min-width: @screen-lg-min) {
      width: 50%;
    }
  }
}
input#edit-remember-me {
  width:auto;
}

a.btn.left {
  float: left;
}
a.btn.right {
  float: right;
}
.view-subusers {
  a.btn.right {
    float: left;
    margin-left: 10px;
  }
  .view-content {
    clear: both;
  }
}
#browse-dialog.ui-dialog-content {
  width: 100%!important;
}
.page-node-add {
  .field-name-field-file-attachements {
    text-align: left;
  }
}

.page-file-add {
  #file-entity-add-upload {
    .file-upload {
      display: block;
      background: none;
      padding: 0;
      margin: 0;
      a {
        margin-top: 0;
      }
    }
  }
  ul.tabs--secondary {
    display: none;
  }
}

#views-exposed-form-users-node-access-page .form-item-uid-1 .input-group {
    width: 250px;
}

/* Filter manage users */
  .views-exposed-widgets {
    display: inline-block;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    >div:first-child {
      clear:both;
    }
  }
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2.2em;
}

/* Specials node */
.field-name-field-special-date {
  @media(min-width: @screen-sm-min) {
    float:left;
    margin-right:50px;
  }
}
.field-name-field-special-text-line {
 @media(min-width: @screen-sm-min) {
    text-align:right;
  }
}

.page-node-54 {
  .row {
    .block-system {
      .node-page {
        background-image: url('../images/404.png');
        background-repeat: no-repeat;
        min-height: 320px;
        background-position: center 30px;
        background-size: 200px;
        @media(min-width: @screen-sm-min) {
          min-height: 605px;
          background-size: initial;
        }
        @media(min-width: @screen-md-min) {
          background-position: center 50px;
        }
        .content {
          position: absolute;
          left: 30px;
          right: 30px;
          bottom: 0;
          @media(min-width: @screen-sm-min) {
            bottom: 95px;
            max-width: 380px;
            right: 15px;
            left: initial;
          }
          @media(min-width: @screen-md-min) {
            max-width: 390px;
            bottom: 70px;
            right: 90px;
          }
          @media(min-width: @screen-lg-min) {
            bottom: 115px;
            max-width: 460px;
          }
          .field-item {
            div {

              @media(max-width: @screen-xs-max) {
                font-size: 16px!important;
              }
            }
          }
        }
      }
    }
  }
}

.modal-body {
  overflow: scroll;
}

.page-node-53,
.page-node-371,
.page-node-376,
.page-node-381,
.page-node-346 {
  .row {
    .block-system {
      .node-page {
        background-image: url('../images/403.png');
        background-repeat: no-repeat;
        min-height: 320px;
        background-position: left 50px;
        background-size: 200px;
        @media(min-width: @screen-sm-min) {
          min-height: 605px;
          background-size: initial;
        }
        @media(min-width: @screen-md-min) {
          background-position: center 50px;
        }
        .content {
          position: absolute;
          left: 140px;
          right: 20px;
          bottom: 60px;
          @media(min-width: @screen-sm-min) {
            bottom: 94px;
            max-width: 460px;
            right: 20px;
            left: 250px;
          }
          @media(min-width: @screen-md-min) {
            max-width: 390px;
            bottom: 100px;
            left: initial;
            right: 118px;
          }
          @media(min-width: @screen-lg-min) {
            bottom: 115px;
            max-width: 460px;
          }
          .field-item {
            div {

              @media(max-width: @screen-xs-max) {
                font-size: 16px!important;
              }
            }
          }
        }
      }
    }
  }
}

.field-name-field-special-text-line {
  clear: left;
  text-align: left;
}

#edit-options {
  .form-type-select.form-item-operation{
    display: block;
    float: left;
    width: 210px;
    margin-left: 0;
    margin-right: 10px;
    .sbHolder {
      display: block;
    }
  }
}
#special-node-form {
  .form-type-select.form-item-language {
    .sbHolder {
      max-width: 130px;
    }
  }
}

/* Cookies */
#sliding-popup.sliding-popup-top {
  background: #686868;
  .popup-content.info {
    background-color: #686868;
    overflow: hidden;
    #popup-text {
      margin: 35px 0;
      @media only screen and (max-width: 888px) {
        max-width: 100%;
        margin: 1.5em 0 0;
      }
    }
    #popup-buttons {
      @media only screen and (max-width: 888px) {
        max-width: 100%;
        margin: 4.5em 0 0;
        float: none;
      }
      button {
        background: #f1601f;
        color: #fff;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        padding: 5px 30px;
        text-transform: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        text-shadow: none;
        font-family: "AauxProOT-Regular",sans-serif;
        font-weight: normal;
        margin-top: 35px;
        margin-bottom: 35px;
        @media only screen and (max-width: 888px) {
          margin-top: 0;
          margin-bottom: 17px;
        }
      }
    }
  }
}

/* Global Homepage */
body.global.front {
  background-image: url('../images/global.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  @media(max-width: @screen-xs-max) {
    background-image: none;
  }
  .section-fixed {
    display: none;
  }
  .section-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    top: 16%;
    background-color: rgba(255, 255,255, 0.9);
    padding-bottom: 0;
    @media(max-width: @screen-xs-max) {
      margin: 15px auto;
    }
    .front-main-container {
      background: transparent;
    }
    #block-partner-portal-tweaks-global-domains-block {
      h2 {
        font-size: 20px;
        text-align: center;
        color: #333333;
        background-image: url('../images/global-log.svg');
        background-repeat: no-repeat;
        padding-top: 95px;
        background-size: 200px;
        background-position: center top;
        border-bottom: 1px solid #ccc;
        padding-bottom: 25px;
        max-width: 225px;
        margin: 0 auto;
      }
      ul.menu {
        max-width: 225px;
        margin: 0 auto;
        padding-top: 25px;
        li {
          float: left;
          width: 100%;
          padding: 10px 0;
          img {
            float: left;
            margin-top: 5px;
            margin-right: 15px;
          }
          a {
            color: #333333;
            padding: 0;
            float: left;
            background-repeat: no-repeat;
            &:hover {
              background-color: transparent;
            }
            &.usa-item {
              background-image: url('../images/usa.png');
              padding-left: 35px;
              background-position: center left;
              background-size: 20px 15px;
            }
            &.canada-item {
              background-image: url('../images/canada.png');
              padding-left: 35px;
              background-position: center left;
              background-size: 20px 15px;
            }
          }
        }
      }
    }
  }
}
.page-file {
  .file-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}
html {
  height: 100%;
}
#edit-picture {
  clear: both;
}

.page-node-add {
  .field-name-field-node-access-type {
    .sbHolder {
      width: 90%;
      @media(min-width: @screen-md-min) {
        width: 80%;
      }
      @media(min-width: @screen-lg-min) {
        width: 50%;
      }
    }
  }
}

/* File uploads with product images */
.paragraph-region {
  .paragraph-content {
    .file-upload {
      float: left;
      width: 47%;
      img {
        floaT: left;
        margin-right: 20px;
      }
    }
  }
}

/* NA - autocomplete filters */
.form-autocomplete {
  .input-group-addon {
    display:inline-block;
    padding:4px 12px;
    border:none;
    .glyphicon {
      top:0;
    }
  }
}