.entity.entity-uc-cart-item.uc-cart-item-uc-cart-item {
  display: none;
}

#uc-cart-view-form {
  table {
    margin-bottom: 0;
  }
  a {
    margin-right: 15px;
    display: inline-block;
    margin: 20px 20px 20px 15px;
  }
  .table {
    tr {
      td {
        font-size: 16px;
        text-align: left;
      }
    }
  }
  td {
    font-size: 16px;
  }
  td.subtotal {
    text-align: right;
  }
}
#uc-cart-view-form .table .image,
#uc-cart-view-form .table thead tr th:nth-child(2) {
  display: none;
}
.page-admin-structure-features {
  form div.buttons {
    text-align: left;
  }
}
.region {
  #uc-cart-view-form {
    td.desc {
      width: auto;
      a {
        margin: 0;
      }
    }
  }
}

#edit-update {
  margin-right: 20px;
}

#block-order-bulider-migration-item-weight {
  float: right;
  text-align: right;
  p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
  }
  span {
    float: right;
    margin-left: 8px;
    min-width: 80px;
    text-align: left;
  }
  .current-order {
    margin-bottom: 20px;
  }
}

.dist_locations {
  position: absolute;
  right: 0;
  top: 60px;
}

#block-system-main .table & > tbody & > tr & > td,
#contactus,
.region {
  font-size: 14px;
  text-align: left;
}

.views-view-grid.cols-3 {
  width: 100%;
  td[class*="col-"] {
    font-size: 14px;
    padding: 10px 5px;
  }
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: left;
  position: relative;
  width: 33.333%;
}

.views-field.views-field-title {
  font-size: 15px;
  font-weight: bold;
}

.views-field.views-field-field-address,
.views-field.views-field-field-location-name {
  font-size: 13px;
}

.contracts-dist-name,
.dist-name {
  font-size: 25px;
  left: 0;
  position: absolute;
  top: 58px;
}

.contracts-dist-name {
  top: -110px;
}

.page-header {
  font-size: 36px;
  margin-bottom: 10px;
}

.text-right {
  text-align: right;
}

.north-america .block-my-locations table td {
  width: 33.33333%;
}

.form-control {
  height: 30px;
}

#block-uc-cart-cart {
  position: absolute;
  top: 187px;
  right: 0;
  display: inline-block;
  width: auto;
}
.slicknav_menu {
  display: none;
}

header.navbar .navbar-collapse {
  z-index: 2;
  max-width: 100%;
  .desktop-menu {
    padding-left: 0px;
    ul.navbar-nav {
      float: right;
    }
    ul.nav li {
      padding: 0 40px 0 0;
    }
  }
  @media(max-width: 991px) {
    overflow-y: scroll;
    max-width: 100%;
    width: 100%;
    overflow: auto;
    top: 100px;
    height: ~"calc(100vh - 100px)";
    ul.nav {
      line-height: 1;
      .region-header-top li.leaf {
        padding: 0px 10px 0px 0;
      }
    }
  }
  @media(min-width: @screen-md-min) {
    width: 64%;
    .desktop-menu ul.nav li:last-child {
      padding: 0px 5px 0px 0px;
    }
  }
  .region-header-top {
    width: 100%;
  }
}
body {
  @media(max-width: 991px) {
    header.navbar .region-header-top .header-top-menu .nav > li a {
      font-size: 20px;
      color: #4a4a4a;
    }
  }
}
section#block-menu-menu-header-top-menu {
    display: inline-block;
}

#review-instructions {
  margin: 0 auto;
  max-width: 608px;
  margin-bottom: 15px;
  text-align: center;
}

.order-review-table .title-col {
  padding-right: 15px;
}
@media (max-width: 768px) {
  #block-uc-cart-cart {
    position: relative;
  }
}

#show-dynamic-list {
  margin-left: 911px;
}

/* My Profile Block - Distributor*/

.view-distributor-views {
  .views-field-field-full-name {
    padding-top: 15px;
  }
}

.view-display-id-block_1 {
  h3.views-field-title {
    margin-top: 0;
  }
}

/*Contract list*/

.view-my-contracts {
  .view-grouping-header {
    font-size: 22px;
    font-weight: bold;
  }
  .view-grouping-content {
    caption {
      font-size: 22px;
      font-weight: bold;
    }
  }
}

/* Simulation Prices Page */

.page-simulation-prices {
  .view-display-id-page_1 {
    h3.dist-name {
      position: absolute;
      top: 0.75%;
    }
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }
    .modal {
      top: 15%;
      left: 25%;
      background-color: white;
      width: 40%;
      height: 80%;
      .tabledrag-toggle-weight-wrapper {
        display: none;
      }
    }
    #edit-submit-simulation-price-breakup {
      display: none;
    }
    #edit-dynamic-field-wrapper {
      .help-block {
        display: none;
      }
      .draggable a.tabledrag-handle {
        display: none;
      }
    }
  }
  .view-display-id-block_2 {
    .views-field-uid {
      display: none;
    }
    .views-field-uid-1 {
      a {
        background: url("../images/export-excel.png") no-repeat;
        color: transparent;
      }
    }
  }
}

.page-pricing-list,
.page-simulation-prices {
  .view-display-id-block_2 {
    .views-field-uid {
      a {
        background: url("../images/export-excel.png") no-repeat;
        color: transparent;
      }
    }
    .views-field-field-distributor-name,
    .views-field-title {
      font-size: 26px;
      color: #008d9c;
      font-weight: 400;
    }
  }
}

.page-pricing-list {
  .view-display-id-block_2 {
    .views-field-uid-1 {
      display: none;
    }
  }
}

.page-cart,
.page-cart-checkout {
  #uc-cart-view-form,
  .uc-cart-checkout-form {
    .distrib-details {
      position: absolute;
      top: 110px;
      font-size: 24px;
      color: #008d9c;
    }
    .subtotal {
      font-weight: bold;
    }
    .uc-price {
      font-weight: normal;
    }
  }
  .page-header {
    margin-bottom: 40px;
  }
}

#block-uc-cart-cart {
  h2.block-title {
    font-size: 36px;
  }
}

.front .view-news .views-row .views-field-created,
.page-news .view-news .views-row .views-field-created {
  font-size: 14px;
  color: #5c5c5c;
}

.front .view-news .views-row .views-field-body,
.page-news .view-news .views-row .views-field-body {
  font-family: Arial;
  font-size: 14px;
  color: #5c5c5c;
  line-height: 23px;
  text-align: left;
  padding-right: 15px;
}
.view-news .views-row .views-field-field-image,
.view-news .views-row .views-field-body {
  margin-bottom: 12px;
}
.front .view-news .views-row,
.page-news .view-news .views-row {
  margin-bottom: 32px;
}
.logo-wrapper {
  position: relative;
  z-index: 1;
  max-width: 435px;
  width: 80%;
}
a.navbar-partner-logo {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 34px;
  @media(max-width: @screen-xs-min) {
    height: 34px;
  }
  @media(min-width: @screen-xs-min) {
    height: 34px;
  }
  @media(min-width: @screen-sm-min) {
    height: 37px;
  }
  @media(min-width: @screen-lg-min) {
    height: 46px;
  }
  img {
  height: auto;
  width: auto;
  @media(max-width: @screen-xs-min) {
    max-height: 34px;
  }
  @media(min-width: @screen-xs-min) {
    max-height: 34px;
  }
  @media(min-width: @screen-sm-min) {
    max-height: 37px;
  }
  @media(min-width: @screen-lg-min) {
    max-height: 46px;
  }
  }
}
a.navbar-btn {
  max-width: 200px;
  @media(max-width: @screen-xs-min) {
    img {
      width: 40% !important;
    }
  }
}
.partner-logo-wrapper {
  display: inline-block;
  margin-left: 15px;
  top: -10px;
  position: relative;
  vertical-align: middle;
  margin-left: 40px;
  @media(max-width: @screen-xs-min) {
    max-width: 150px;
    width: 40%;
  }
  @media(min-width: @screen-sm-min) {
    max-width: 165px;
  }
  @media(min-width: @screen-lg-min) {
    max-width: 200px;
  }
}
.partner-logo-wrapper.has-slogan {
  top: 2px;
}
img.navbar-partner-logo {
  max-width:100%;
  height:auto;
  max-height: 34px;
  @media(min-width: @screen-sm-min) {
    max-height: 37px;
  }
  @media(min-width: @screen-lg-min) {
    max-height: 46px;
  }
}
.main-slider.contextual-links-region {
    overflow: hidden;
}
.block-latest-news {
  border-top-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  display: inline-block;
  margin-top: 38px;
  padding-top: 28px;
  width: 100%;
  .views-field-created {
    margin-bottom: 16px;
  }
}

.partners-list-block {
  .field-content img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    max-width: 146px;
    max-height: 69px;
  }
  h2 {
    margin-bottom: 0;
    margin-top: 16px;
  }
  .views-row {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .views-row {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

#block-views-testimonial-slider-block {
  max-width: 100%;
  p {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 25px;
    text-align: left;
    margin-bottom: 10px;
  }
  h2 {
    margin-top: 16px;
  }
  .flex-viewport {
    width: 99.5%;
  }
  .view-testimonial-slider {
    .views-field-field-testimonial {
      .field-content {
        padding: 0px 2px;
      }
    }
    .more-link {
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      border-radius: 4px;
      -webkit-user-select: none;

      background-color: #f1601f;
      display: inline-block;
      color: #fff;
      border-color: #f1601f;
      border-radius: 0 !important;
      padding: 3px 55px 3px 15px !important;
      font-family: "Arial";
      font-style: italic;
      font-size: 14px;
      vertical-align: middle;
      background: #f1601f url(../images/more-arrow.png) no-repeat;
      background-position: 93% center;
      -webkit-font-smoothing: subpixel-antialiased;
      height: 28px;
      &:hover {
        background-color: #bf4e19;
        border-color: #bf4e19;
        color: #fff;
      }
      a {
        color: #fff;
        -webkit-font-smoothing: subpixel-antialiased;
        vertical-align: middle;
      }
    }
    .more-link {
      float: right;
      line-height: 1.428571;
    }
    a.views-more-link {
      color: #f1601f;
      line-height: 1.5;
      display: block;
      text-align: right;
    }
  }
}
ul.pagination {
  width: 100%;
  li.active {
    a {
      background-color: #f1601f;
      border-color: #f1601f;
      &:hover, &:focus {
        background-color: #bf4e19;
        border-color: #bf4e19;
      }
    }
  }
}
.pagination > li {
    display: -webkit-inline-box;
}
.page-testimonials,
.node-type-testimonial {
  .region-content {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    .view-testimonial-slider {
      .view-content {
        .views-row {
          border-top: 1px solid #ccc;
          padding-top: 20px;
          margin-top: 24px;
          max-width: 45%;
          @media(max-width: @screen-sm-min) {
            max-width: 100%;
          }
          float: left;
          .views-field.views-field-title {
            text-transform: none;
            font-weight: normal;
            font-size: 25px;
            color: #008d9c;
            margin-bottom: 8px;
          }
          a.views-more-link {
            color: #f1601f;
            line-height: 1.5;
            display: block;
            text-align: right;
          }
        }
        @media(max-width: @screen-sm-min) {
          .views-row:nth-child(-n+1) {
            border-top: 0;
            padding-top: 0;
          }
        }
        @media(min-width: @screen-sm-min) {
          .views-row:nth-child(-n+2) {
            border-top: 0;
            padding-top: 0;
          }
        }
        .views-row-odd {
          margin-right: 10%;
          @media(max-width: @screen-sm-min) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.welcome-message-block {
  width: auto;
  float: left;
  display: block;
  margin-bottom: 32px;
  @media(min-width: 1201px) {
    width: 53%;
  }
  p {
    font-size: 18px;
    color: #585858;
    line-height: 25px;
  }
  ul {
    list-style: none;
  }
  ul li {
    position: relative;
    color: #585858;
  }
  ul:not(.contextual-links) li:before {
    font-weight: bold;
    content: "•";
    display: inline-block;
    position: relative;
    color: #008d9c;
    left: -1.5em;
  }
  h2 {
    margin-top: 16px;
  }
  &.arrangement4 {
    min-height: inherit;
  }
  &.complete {
    @media(min-width: 1201px) {
      min-height: 230px;
    }
  }
}

#block-views-testimonial-slider-block,
.partners-list-block {
  @media(max-width: @screen-xs-min) {
    float: left;
    display: block;
    width: 100%;
  }
  @media(min-width: @screen-xs-min) {
    float: left;
    display: block;
    width: 100%;
  }
  @media(min-width: @screen-sm-min) {
    float: left;
    display: block;
  }
  @media(min-width: 1201px) {
    margin-left: 72px;
    width: 40.2%;
    float: left;
    display: block;
  }
  h2 {
    margin-top: 16px;
  }
}

.contact-us form {
  .webform-component--email,
  .webform-component--first-and-last-name,
  .webform-component--phone-number {
    margin-bottom: 16px;
    @media(max-width: @screen-xs-min) {
      width: 100%;
    }
    @media(min-width: @screen-xs-min) {
      width: 100%;
    }
    @media(min-width: @screen-sm-min) {
      width: 33%;
    }
  }
  .webform-component-textarea {
    @media(max-width: @screen-xs-min) {
      width: 100%;
    }
    @media(min-width: @screen-xs-min) {
      width: 100%;
    }
    @media(min-width: @screen-sm-min) {
      width: 64%;
    }
  }
  .webform-component--reason-of-contact {
    label {
      display: none;
    }
  }
  .captcha {
    margin: 5px 0 0 0;
    @media(max-width: @screen-xs-min) {
      float: left;
      .g-recaptcha{
        float: left;
      }
    }
    @media(min-width: @screen-xs-min) {
      float: left;
      .g-recaptcha{
        float: left;
      }
    }
    @media(min-width: @screen-sm-min) {
      float: right;
      left:0;
      top:0;
      .g-recaptcha{
        float: right;
      }
    }
  }
}

#edit-submitted-text {
  width: 100%;
}
header.navbar .region-header-top .header-top-menu .nav {
  @media(max-width: @screen-sm-min) {
    li {
      padding: 0px 10px 0px 0;
    }
  }
  @media(min-width: @screen-md-min) {
    li {
      padding: 5px 10px 5px 0;
    }
  }
}

.front .view-news .views-row .views-field-title,
.page-news .view-news .views-row .views-field-title {
  text-transform: none;
  font-weight: normal;
  font-size: 25px;
  color: #008d9c;
}

.node-type-news .view-news .views-field-title-1 {
  text-transform: none;
  font-weight: normal;
  font-size: 25px;
  color: #008d9c;
}

h1 .page-header {
  font-size: 36px;
}

// Fix view config "Rewrite Results"
#edit-options-alter-text-wrapper {
  height: inherit;
}

// Fix view config button "X"
.ui-dialog-titlebar-close:before {
  display: none;
}

#navbar {
  z-index: 100;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  .header-wrapper {
    p.lead.hidden-xs.hidden-sm {
      left: 0px;
      overflow: hidden;
      bottom: -6px;
      top: 64px;
      max-width: 204px;
    }
  }
}

.front #navbar {
  p.lead {
    margin-bottom: 20px;
  }
  @media(max-width: @screen-sm-min) {
    margin-top: -8px;
  }
  @media(min-width: @screen-sm-min) {
    margin-top: 0;
  }
  @media(min-width: 992px) {
    margin-top: -60px;
  }
  @media(min-width: @screen-lg-min) {
    margin-top: 0;
  }
}

.row {
  margin-top: 100px;
}

.front .row {
  margin-top: 0;
}

.section-fixed {
  @media(max-width: @screen-xs-min) {
    margin-top: 100px;
  }
  @media(min-width: @screen-xs-min) {
    margin-top: 100px;
  }
  @media(min-width: @screen-md-min) {
    margin-top: 160px;
  }
  @media(min-width: @screen-lg-min) {
    margin-top: 0;
  }
  @media(max-width: 1440px) {
    width: 100%;
  }
  @media(min-width: 1440px) {
    margin-top: 0px;
    width: 1440px;
    left: 50%;
    transform: translateX(-50%);
  }
  .view-promoted-slider .views-field-views-conditional-2 {
    color: #fff;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    max-width: 1100px;
    width: 94%;
    left: 50%;
    margin-left: 15px;
    transform: translateX(-50%);
    list-style: none;
    display: block;
    zoom: 1;
    text-align: center;
    a,
    a:hover {
      color: #fff;
    }
    @media(max-width: @screen-xs-min) {
      font-size: 28px;
      top: 31%;
    }
    @media(min-width: @screen-xs-min) {
      font-size: 28px;
      top: 31%;
    }
    @media(min-width: @screen-sm-min) {
      font-size: 41px;
      top: 26%;
    }
  }
  .main-slider .flex-viewport .views-field-field-show-title {
    display: none;
  }
  .control-slider {
    z-index: 2;
  }
}

.template-b-content {
  .tab-content > div {
    padding-top: 0;
    margin-bottom: 35px;
  }
  h2 {
    font-size: 25px;
    font-weight: normal;
  }
  .header-description-b img {
    width: 100%;
    max-width: 100%;
    height: auto !important;
  }
  .header-description-b .media-element-container {
    .content {
      display: inherit;
    }
  }
  .tab-content {
    img {
      max-width: 100%;
      height: auto !important;
      margin-top: 16px;
    }
    .file-icon {
      margin-top: 0px;
      padding-right: 0px;
      max-width: 45px;
    }
    .file-upload img.img-responsive {
      max-width: 45px;
      padding-right: 0;
      margin-right: 20px;
    }
  }
}
.template-a-content {
  .paragraph-content {
    img.file-icon {
      margin-top: 0;
      margin-right: 5px;
    }
    a {
      margin-top: 10px;
    }
    .media-element-container {
      img {
        height: auto !important;
      }
      .content {
        display: inherit;
      }
    }
  }
  .tab-content {
    .media-element-container {
      .content {
        display: inherit;
      }
    }
    .left-blocks {
      .block_template {
        @media(max-width: @screen-sm-min) {
          float: left;
          }
        .file-image img.media-element {
            max-width: 100%;
            height: auto;
        }
      }
    }
    .tab-pane {
      .image-right {
        .paragraph-content {
          span.file-upload {
            img {
              padding-left: 0px;
              float: left;
              &.img-responsive {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
    }
  }
}
.node-type-article {
  .media-element-container {
    .content img.media-element {
      max-width: 100%;
      height: auto !important;
    }
    .file-upload {
      @media(max-width: @screen-md-min) {
        padding-left: 0px;
        margin-left: 0px;
      }
    }
  }
  .field-name-body,
  .sharethis-buttons {
    margin-bottom: 16px;
  }
}
.node-type-dvc-page {
  .field-name-body {
    .media-element-container {
      .content img {
        max-width: 100%;
        height: auto !important;
      }
    }
  }
  .field-name-field-file-attachements {
    text-align: left;
    padding-top: 16px;
    .field-item {
      float: none;
      margin-left: 0px;
      .file-upload {
        @media(max-width: @screen-md-min) {
          padding-left: 0px;
          margin-left: 0px;
        }
      }
    }
  }
}

.node-type-news {
  .views-field-body {
    .field-content {
      img.media-element.file-full {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .views-field-field-file-attachements-news {
    .file {
      .file-upload {
        padding-left: 0;
        @media(max-width: @screen-sm-min) {
          margin-left: 0;
        }
      }
    }
  }
}
.node-type-event {
  .pane-node-body {
    .media-element-container img {
      max-width: 100%;
      height: auto;
    }
  }
  .pane-node-field-file-attachements {
    .field-items {
      float: left;
      .field-item {
        margin-left:0;
        float: none;
        text-align: left;
      }
    }
    .file-upload {
      padding-left: 0;
      margin-top: 10px;
      @media(max-width: @screen-sm-min) {
        margin-left: 0;
        img {
          float: left;
          margin-right: 10px;
        }
        a {
          text-align: left;
          display: initial;
        }
      }
    }
  }
}

.node-type-promotion {
  .pane-node-field-file-attachements {
    .field-items {
      float: left;
      .field-item {
        margin-left:0;
        float: none;
        text-align: left;
      }
    }
    .file-upload {
      padding-left: 0;
      margin-top: 10px;
      @media(max-width: @screen-sm-min) {
        margin-left: 0;
        img {
          float: left;
          margin-right: 10px;
        }
        a {
          text-align: left;
          display: initial;
        }
      }
    }
  }
}
.node-type-template-a {
  .file-upload {
    padding-left: 0;
    display: block;
    clear: both;
    img {
      float: left;
      margin-right: 10px;
    }
    a {
      text-align: left;
      display: initial;
    }
  }
}

.navbar-toggle {
  top: 25px;
  z-index: 20;
}

body {
  @media(min-width: @screen-md-min) {
    font-size: 16px;
  }
}

.page-news {
  .region-content {
    padding-bottom: 16px;
    @media(max-width: @screen-md-min) {
      margin-top: -15px;
    }
    @media(max-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.main-container {
  @media (min-width: 768px) {
    padding-bottom: 0px;
  }
}
.front {
  .section-content {
    padding-bottom: 0px;
    top: 75%;
  }
  .region-content {
    padding-bottom: 32px;
  }
}

.page-events .view-events .views-row {
  .views-field-title {
    font-weight: normal;
    font-size: 25px;
    color: #008d9c;
  }
  .views-field-field-special-date {
    margin-top: 4px;
  }
  .views-field-body {
    margin-bottom: 16px;
    margin-top: 8px;
  }
}

.sliding-popup-top {
  position: fixed;
}

.events-carousel-block {
  border-top-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  margin-top: 48px;
  padding-top: 28px;
  display: inline-block;
  width: 100%;
  .view-special-events-carousel {
    margin-top: 16px;
  }

  .unslick {
    max-width: 385px;
  }
  .slide__content, .unslick {
    .img-responsive {
      width: 100%;
    }
    .views-field-field-image-node {
      z-index: 5;
    }
    .views-field-body {
      margin-top: 16px;
    }
  }
  @media(min-width: 600px) {
    .slick__slide {
      max-width: 454px;
      margin-right: 32px;
    }
  }
  @media(min-width: 1000px) {
    .slick__slide {
      margin-right: 32px;
    }
  }
  @media(min-width: 1200px) {
    .slick__slide {
      max-width: 385px;
      margin-right: 32px;
      padding: 0;
    }
  }
  .views-field-view-node,
  .views-field-field-external-link-events {
    text-align: right;
    .field-content {
      a {
        color: #f1601f !important;
      }
    }
  }
  .view-footer {
    margin-top: 32px;
    a {
      background-color: #f1601f;
      border-color: #f1601f;
      color: #fff;
      border-radius: 0 !important;
      padding: 3px 55px 3px 15px !important;
      font-family: "Arial";
      font-style: italic;
      font-size: 14px;
      background: #f1601f url("../images/more-arrow.png") no-repeat;
      background-position: 93% center;
      -webkit-font-smoothing: subpixel-antialiased;
      float: right;
    }
  }
  .slick__arrow {
    position: relative;
    margin-top: 40px;
    width: 68px;
    margin-left: auto;
    margin-right: auto;
  }
  button.slick-next.slick-arrow,
  button.slick-prev.slick-arrow {
    opacity: 0.8;
    height: 26px;
    width: 26px;
    border-radius: 0;
    &:hover {
      opacity: 1 !important;
    }
  }
  button.slick-prev.slick-arrow:before {
    content: none;
  }
  button.slick-next.slick-arrow:before {
    content: none;
  }
  button.slick-prev.slick-arrow {
    background: url("../images/arrow-previous.png") no-repeat;
  }
  button.slick-next.slick-arrow {
    background: url("../images/arrow-next.png") no-repeat;
  }
}

h2 {
  font-size: 36px;
  margin-bottom: 8px;
}

.view-id-news {
  margin-top: 32px;
}

.front .view-news .more-link,
.page-news .view-news .more-link {
  margin-bottom: 0;
  margin-top: -16px;
}

.region.region-footer-contact {
  border-top-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  margin-top: 0;
  padding-top: 32px;
}

.contact-container {
  margin-top: 0px;
}

#block-views-contact-block {
  h2.field-content {
    margin-bottom: 8px;
  }

  @media(max-width: @screen-sm-min) {
    width: 100%;
  }

  @media(min-width: @screen-sm-min) {
    width:26%;
    margin-right: 4%;
  }
}

.contact-us {
  display: inline-block;
  margin-top: 40px;

  @media(max-width: @screen-sm-min) {
    width: 100%;
  }

  @media(min-width: @screen-sm-min) {
    width:70%;
  }

  .webform-client-form-1 {
    .webform-component--reason-of-contact {
      margin-right: 0px;
      margin-bottom: 16px;
      padding-bottom: 0px;
      .form-select {
        padding-right: 24px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("../images/drop_down-arrows.png");
        background-repeat:  no-repeat;
        background-position: calc(100%-4px);
        background-color: #f1601f;
      }
      .form-select::-ms-expand {
        display: none;
      }
      @media(max-width: @screen-sm-min) {
        min-width: 177px;
        width: 30%;
      }

      @media(min-width: @screen-sm-min) {
        min-width: 160px;
        width:20%;
      }
    }
    .webform-component--text {
      padding-bottom: 0px;
    }
    #edit-submitted-text,
    #edit-submitted-first-and-last-name,
    #edit-submitted-phone-number,
    #edit-submitted-email {
      border: 1px solid #e2e2e2;
      box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.16);
      border-radius: 8px;
      height: 35px;
    }
    #edit-submitted-text {
      height: 183px;
      max-height: 183px;
      min-height: inherit;
    }
  }
}
.block-partner-portal-block-custom-map {
  margin-top: 32px;
  display: inline-block;
  width: 100%;
}
.slicknav_menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  margin-top: -6%;
}
.page-file-add {
  .form-type-managed-file {
    .file-upload {
      display: -webkit-box !important;
      display: -moz-box !important;
      img.img-responsive {
        width: auto;
        height: 18px;
      }
      a {
        margin-left: 10px;
        position: relative;
        display: inline-block;
      }
    }
  }
}
#media-browser-page-wrapper {
  .form-control {
    height: 40px;
  }
}

#edit-partner-settings {
  .form-type-file.form-item-files-image.form-item.form-group {
    display: inline-block;
    @media(max-width: @screen-lg-min) {
      width: 100%;
    }
    @media(min-width: @screen-lg-min) {
      width: 90%;
    }
  }
  button#edit-submit--2 {
    @media(max-width: @screen-lg-min) {
      float:left;
    }
    @media(min-width: @screen-lg-min) {
      float: right;
      margin-top: 26px;
    }
  }
  .form-type-textfield.form-item-link.form-item.form-group {
    clear: both;
    @media(max-width: @screen-lg-min) {
      margin-top: 42px;
    }
  }
}

#edit-partner-settings #edit-image-upload {
  .file-upload {
    padding-left: 0px;
    margin: 0px;
    min-height: 20px;
    display: -webkit-box !important;
    display: -moz-box !important;
    img.img-responsive {
      width: auto;
      height: 18px;
    }
    a {
      margin-left: 10px;
      margin-top: 0px;
      position: relative;
      display: inline-block;
   }
  }
}

.arrangement1 {
  @media(min-width: @screen-lg-min) {
    margin-left: 72px !important;
  }
}

.arrangement2 {
  margin-left: 0px !important;
  width: 100% !important;
}

.arrangement3 {
  margin-left: 0px !important;
}
.arrangement4 {
  width: 100% !important;
}
body.front.logged-in {
  .section-content {
    top: 72%;
  }
}

body.no-slider {
 .section-fixed {
   margin-top: 0px;
 }
 .section-content {
    top: 10% !important;
  }
}

.node-type-promoted-slider, .node-type-partner {
  .field-name-field-slider-image, .field-name-field-partner-logo {
    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.page-file-add {
  button#edit-upload-upload-button {
      display: none;
  }
}

div#lang-dropdown-select-language_child {
    top: 22px !important;
}

div#lang-dropdown-select-language_msdd {
  border: 1px solid #ccc !important;
}

.page-file-add {
  input#edit-upload-upload {
    height: 36px;
  }
}

.page-admin-content {
  .views-table {
    thead {
      input.vbo-table-select-all.form-checkbox {
        margin-top: 9px;
      }
    }
    tbody {
      .form-checkbox {
        margin-top: 4px;
      }
    }
  }
  .form-control {
    height: 32px;
  }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.9em;
  }
  .admin-views-view .views-exposed-form .views-submit-button,
  .admin-views-view .views-exposed-form .views-reset-button {
    padding-right: 8px;
  }
  td.views-field.views-field-title, th.views-field.views-field-title {
    padding-left: 12px;
  }
  button#edit-submit--2 {
    height: 32px;
  }
}

.page-node-add-template-a, .page-node-add-template-b {
  .btn.btn-default {
    margin-top: 12px;
  }
}

.page-media-browser {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.9em;
    &:active {
      font-family: Verdana,Arial,sans-serif;
      font-size: 1em;
    }
    &:focus {
      font-family: Verdana,Arial,sans-serif;
      font-size: 1em;
    }
  }
  #media-tab-upload {
    span.input-group-btn {
      display: none;
    }
  }
  #media-tab-media_default--media_browser_my_files {
    .form-actions.form-wrapper {
      margin-top: 12px;
    }
  }
  a.button.button-yes.fake-submit.media_default--media_browser_1.jquery-once-2-processed,
  a.button.button-yes.fake-submit.media_default--media_browser_1.jquery-once-1-processed,
  a.button.button-yes.fake-submit.media_default--media_browser_my_files.jquery-once-1-processed,
  a.button.button-yes.fake-submit.media_default--media_browser_my_files.jquery-once-2-processed {
    background-color: #f1601f;
    border-color: #f1601f;
    color: #fff;
    border-radius: 0 !important;
    padding: 6px 55px 6px 18px !important;
    font-style: italic;
    background: #f1601f url(../images/more-arrow.png) no-repeat;
    background-position: 93% center;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    &:hover {
      background-color: #bf4e19;
    }
  }
  li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
    margin: 1px 0 -1px 0;
  }
  li.ui-state-default.ui-corner-top {
    margin: 1px 0 -1px 0;
  }
  .media-browser-tab {
    .form-actions.form-wrapper {
      margin-top: 8px;
    }
  }
}
.node-type-template-a,
.node-type-template-b {
  .image-full img {
    float: left;
  }
}
.node-type-article,
.node-type-event,
.node-type-news,
.node-type-dvc-page,
.node-type-promotion {
  .media-element-container img {
    float: left;
  }
}

.page-media {
  a.button.fake-ok {
    background-color: #f1601f;
    border-color: #f1601f;
    color: #fff;
    border-radius: 0 !important;
    padding: 6px 55px 6px 18px !important;
    font-style: italic;
    background: #f1601f url(../images/more-arrow.png) no-repeat;
    background-position: 93% center;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    &:hover {
      background-color: #bf4e19;
    }
  }
}
a.button.browse.element-hidden {
  background-color: #f1601f;
    border-color: #f1601f;
    color: #fff;
    border-radius: 0 !important;
    padding: 6px 55px 6px 18px !important;
    font-style: italic;
    background: #f1601f url(../images/more-arrow.png) no-repeat;
    background-position: 93% center;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    &:hover {
      background-color: #bf4e19;
    }
}

a.ctools-use-modal.ctools-modal-media-file-edit {
    background-color: #f1601f;
    border-color: #f1601f;
    color: #fff;
    border-radius: 0 !important;
    padding: 5.5px 55px 5.5px 18px !important;
    font-style: italic;
    background: #f1601f url(../images/more-arrow.png) no-repeat;
    background-position: 93% center;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    position: relative;
    top: 1px;
    &:hover {
      background-color: #bf4e19;
    }
}
a.ctools-close-modal-processed {
  top: 0px;
  &:hover {
      background-color: #bf4e19;
    }
}
input#edit-replace-upload {
    height: 36px;
}

div#modalContent {
  a#edit-cancel {
    top: 0px;
  }
}

.ui-widget-content {
  button.ui-dialog-titlebar-close {
    background-image: url(../images/fileclose.png);
  }
}
body.logged-in {
  @media (min-width: 1025px) {
    header#navbar {
      margin-top: 0;
    }
  }
}
#block-lang-dropdown-language {
  float:none;
}
div#lang-dropdown-select-language_msdd{
  border-top: 0px !important;
}

header.navbar .navbar-collapse {
  @media (max-width: 991px) {
    ul.navbar-nav {
      float: left !important;
      max-width: 100%;
      width: 100%;
      li {
        padding: 0px !important;
        @media(max-width: @screen-md-min) {
          a.dropdown-toggle {
            background: url(../images/icon-small-black-down-menu.png) no-repeat;
            background-position: 95% center;
          }
        }
      }
    }
    .region-header-top {
      width: 100%;
      .header-top-menu {
        width: 100%;
      }
    }
  }
}

.section-fixed.expanded_logo {
  .view-promoted-slider {
    @media (max-width: 430px) {
      margin-top: 50px;
    }
  }
}
.front.row.expanded_logo {
  @media (max-width: 430px) {
    margin-top: 50px;
  }
}
section#block-menu-menu-footer-menu-bottom {
  top: 0;
}
.page-import {
  button.btn-info.form-submit {
    margin-top: 27px;
  }
  a#edit-cancel {
    top: 0px;
  }
}
.views-field-field-external-link-news {
  @media (max-width: 800px) {
    clear: both;
    float: right;
  }
}
.page-events .view-events .views-row {
  .views-field-field-external-link-events {
    @media(max-width: @screen-sm-min) {
     padding: 0 30px;
    }
    @media(max-width: @screen-md-min) {
     clear: both;
     float: right;
    }
  }
  .views-field-field-image-node {
    @media(max-width: @screen-md-min) {
      margin-bottom: 12px;
    }
  }
}
.page-admin-content, .page-file-delete {
  a#edit-cancel {
    top: 0;
  }
}
.page-node-delete {
  a#edit-cancel {
    top: 0;
  }
}

a:hover, a:active, a:focus {
   outline: 0 !important;
}

.footer .region-sub-footer {
  .copyright, .social-links {
    top: 0;
  }
}
body.front.logged-in {
  @media (min-width: @screen-md-min) {
    header#navbar {
      margin-top: -60px;
    }
  }
  @media (min-width: 1025px) {
    header#navbar {
      margin-top: 0px;
    }
  }
}
header.navbar .region-header-top .header-top-menu li.search-box {
    .menu-attach-block-wrapper {
      display: inline;
      @media(min-width: @screen-md-min) {
        position: absolute;
      }
    }
    overflow: hidden;
    -webkit-transition: width 0.3s;
	  -moz-transition: width 0.3s;
	  transition: width 0.3s;
    button.close-search {
      display: none;
    }
    @media(max-width: 991px) {
      height: 50px;
      a {
        display: none;
      }
      width: 100% !important;
      .block-search {
        margin-top: 10px;
        width:100% !important;
        display: block !important;
        top: 0;
        padding: 5px 20px;
        position: relative;
        .form-search {
          .input-group {
             width: 100%;
            .form-text {
              font-size: 18px;
              width: 100% !important;
              background-size: 20px 20px;
              padding-right: 30px;
              background: url(../images/search-icon.png) no-repeat;
              background-position: right 5px center;
              background-size: 20px 20px;
            }
          }
          button.search-submit {
            z-index: 99;
            display: inline-block;
            position: absolute;
            top: 5px;
            height: 30px;
            width: 35px;
            right: 25px;
            text-indent: -9999em;
            opacity: 0;
          }
        }
      }
    }
    @media(min-width: @screen-md-min) {
      background: url(../images/search-icon.png) no-repeat;
      background-position: right 3px center;
      background-size: 12px 12px;
      a.search-link {
        z-index: 100;
        padding-top: 5px;
        padding-right: 15px;
        float: left;
      }
      height: 25px;
      max-width: 275px;
      width: 60px;
      float: right;
      .block-search {
        z-index: 99;
        display: none;
        top: 0;
        padding: 0;
        .form-search {
          .input-group {
            float: left;
            .form-text {
              -webkit-transition: width 0.3s;
	            -moz-transition: width 0.3s;
	            transition: width 0.3s;
              padding: 0;
              border: 0;
              height: 25px;
              width: 0px;
              margin-top: -5px;
              margin-left: -5px;
              text-align: center;
              background: none;
            }
            .form-text:focus {
              outline: 0;
            }
          }
          button.search-submit {
            z-index: 99;
            width: 30px;
            height: 25px;
            position: absolute;
            top: -5px;
            opacity: 0;
            padding: 0;
          }
        }
      }
    }
}
.page-admin-seemenu-logo {
  .panel-body {
    img {
      display: inline-block;
    }
    .form-item-image {
      margin-top: 16px;
    }
  }
}

.views-field-nothing {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
  .slide_title,
  .slide_date {
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
    z-index: 6;
    width: 100%;
    color: #fff;
  }
  .slide_title {
    top: 45%;
    @media(max-width: 420px) {
      font-size: 16px;
    }
    @media(min-width: 420px) {
      font-size: 25px;
    }
    @media(min-width: 600px) {
      font-size: 18px;
    }
    @media(min-width: 830px) {
      font-size: 25px;
    }
    @media(min-width: 1000px) {
      font-size: 20px;
    }
    @media(min-width: @screen-lg-min) {
      font-size: 25px;
    }
  }
  .slide_date {
    top: 60%;
  }
}
.front {
.main-container {
  @media(min-width: @screen-lg-min) {
    max-width: 100%;
  }
  .row {
    @media(min-width: 1200px) {
      .region-content {
        width: inherit;
      }
    }
    @media(min-width: 1201px) {
      padding-left: 32px;
      padding-right: 32px;
      .region-content {
         width: 100%;
         max-width: 1220px;
      }
    }
  }
  .contact-container {
    @media(min-width: 1200px) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @media(min-width: 1232px) {
      max-width: inherit;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media(min-width: 1300px) {
      max-width: 1220px;;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
}
 .page-news, .page-events, .page-workstream-tree {
 .main-container {
  @media(min-width: @screen-lg-min) {
    max-width: 100%;
  }
  padding-left: 0px;
  padding-right: 0px;
  .row {
    margin-left: 0px;
    margin-right: 0px;
    @media(min-width: 1200px) {
      max-width: 100%;
      padding-left: 32px;
      padding-right: 32px;
      .region-content {
        max-width: 1220px;
      }
      .hidden-xs, .page-header {
        max-width: 1220px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media(min-width: 1300px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .row .contextual-links-region {
    .hidden-xs, .page-header {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
    }
    .region-content {
      margin-left: auto;
      margin-right: auto;
      width: inherit;
    }
  }
  .contact-container {
    @media(min-width: @screen-sm-min) {
      max-width: inherit;
      padding-left: 32px;
      padding-right: 32px;
      .region-footer-contact {
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
}
.media-browser-tab {
  .progress-disabled {
    float: left;
  }
}
.page-node-webform-emails {
  a#edit-cancel {
    top: 0px;
  }
}
.front .section-fixed .main-slider .views-field-field-slider-image .background-slider {
  @media(min-width: @screen-lg-min) {
    margin-top: 50px
  }
}
.pane-slider-events-panel-pane-1,
.pane-slider-promotions {
  .flexslider {
    margin-bottom: 16px;
    ul.flex-direction-nav {
      a.flex-next, a.flex-prev {
        &:before {
          height: 40px;
          line-height: 1em;
          color: #fff;
        }
      }
    }
  }
}
.pane-slider-events-panel-pane-2,
.pane-slider-promotions-panel-pane-2 {
  ul.slides {
    li {
      margin-right: 16px;
    }
  }
  ul.flex-direction-nav {
    a.flex-next, a.flex-prev {
      &:before {
        height: 40px;
        line-height: 1em;
        color: #fff;
      }
    }
  }
}
a:focus {
  outline: 0 !important;
}

.node-type-special,
.node-type-promotion {
  .view-display-id-panel_pane_2 {
    .flex-prev, .flex-next {
      display: block !important;
    }
  }
}
.template-a-tabs li:last-of-type {
  display: none !important;
}
