@font-face {
    font-family: 'aaux-bold';
    src: url('../fonts/aauxprootbold-webfont.eot');
    src: url('../fonts/aauxprootbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootbold-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootbold-webfont.woff') format('woff'),
         url('../fonts/aauxprootbold-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootbold-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux-bold-italic';
    src: url('../fonts/aauxprootbolditalic-webfont.eot');
    src: url('../fonts/aauxprootbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootbolditalic-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootbolditalic-webfont.woff') format('woff'),
         url('../fonts/aauxprootbolditalic-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootbolditalic-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux-regular';
    src: url('../fonts/aauxprootregular-webfont.eot');
    src: url('../fonts/aauxprootregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootregular-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootregular-webfont.woff') format('woff'),
         url('../fonts/aauxprootregular-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootregular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux-regular-italic';
    src: url('../fonts/aauxprootregularitalic-webfont.eot');
    src: url('../fonts/aauxprootregularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootregularitalic-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootregularitalic-webfont.woff') format('woff'),
         url('../fonts/aauxprootregularitalic-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootregularitalic-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux-thin';
    src: url('../fonts/aauxprootthin-webfont.eot');
    src: url('../fonts/aauxprootthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootthin-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootthin-webfont.woff') format('woff'),
         url('../fonts/aauxprootthin-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootthin-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux-thin-italic';
    src: url('../fonts/aauxprootthinitalic-webfont.eot');
    src: url('../fonts/aauxprootthinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aauxprootthinitalic-webfont.woff2') format('woff2'),
         url('../fonts/aauxprootthinitalic-webfont.woff') format('woff'),
         url('../fonts/aauxprootthinitalic-webfont.ttf') format('truetype'),
         url('../fonts/aauxprootthinitalic-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
