// Insert your styling here.
.footer {
  .region-footer {
    background: #ebebeb;
    .hidden-xs;
    .block-menu-footer {
      width: 20%;
      text-align: center;
      float: left;
      border-left: 1px solid #cccccc;
      padding: 70px 2% 10px;
      line-height: 18px;
      background-repeat: no-repeat;
      ul.menu {
        li {
          a {
            color: #008c99;
            font-family: @AauxRegular;
            font-size: 10px;
            text-transform: uppercase;
            padding: 2px 15px;
            &:hover {
              background-color: transparent;
            }
          }
          &.first,
          &.first.special-link-anon {
            a,
            a.special-link-anon {
              color: #636363;
              font-family: @AauxBold;
              font-size: 12px;
              padding: 2px 15px;
            }
          }
        }
      }
      h2 {
        color: #636363;
        font-family: @AauxBold;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 15px;
        margin: 0;
      }
      &.bottom-menu {
        width: 100%;
      }
      &.block-partner-portal-tweaks {
        ul.menu {
          li {
            &.first {
              a {
                color: #008c99;
                font-family: @AauxRegular;
                font-size: 10px;
              }
            }
          }
        }
      }
      &:first-child {
        border: none;
      }
      &.block-menu-footer-1 {
        background-image: url('../images/ft-sa-logo.png');
        background-position: center 10px;
      }
      &.block-menu-footer-2 {
        background-image: url('../images/ft-products-icon.png');
        background-position: center 10px;
      }
      &.block-menu-footer-3 {
        background-image: url('../images/ft-solutions-icon.png');
        background-position: center 10px;
      }
      &.block-menu-footer-4 {
        background-image: url('../images/ft-media-icon.png');
        background-position: center 10px;
      }
      &.block-menu-footer-5 {
        background-image: url('../images/ft-investor-icon2.png');
        background-position: center 10px;
      }
    } 
  }
  .region-sub-footer {
    background-color: #ffffff;
    overflow: hidden;
    max-width: 1220px;
    margin: 0 auto;
    @media(min-width: @screen-sm-min) {
      padding-top: 25px;
      height: initial;
    }
    @media(min-width: @screen-sm-min) and (max-width: @screen-md-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
    .copyright,
    .links,
    .social-links {
      float: none;
      position: relative;
      padding: 12px 0;
      text-align: center;
      @media(min-width: @screen-sm-min) {
        display: block;
        padding: 20px 0 40px;
      }
    }
    .copyright {
      color: #636363;
      top: 35px;
      @media(min-width: @screen-sm-min) {
        top: initial;
      }
    }
    .links {
      top: 25px;
      @media(min-width: @screen-sm-min) {
        top: initial;
      }
      ul.menu {
        margin: 0;
        padding-left: 20px;
        li {
          border-right: 1px solid #636363;
          padding: 0 5px;
          list-style-type: none;
          display: inline-block;
          a {
            padding: 0;
            &:hover {
              background-color: transparent;
            }
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .social-links {
      top: -90px;
      @media(min-width: @screen-sm-min) {
        top: initial;
        float: right;
      }
      ul.menu {
        li {
          padding-right: 20px;
          list-style-type: none;
          display: inline-block;
          a {
            text-indent: -99999px;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            &:hover {
              background-color: transparent;
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
        .facebook {
          background-image: url('../images/facebook-icon.jpg');
          width: 20px;
          height: 22px;
        }
        .twitter {
          background-image: url('../images/twitter-icon.jpg');
          width: 24px;
          height: 22px;
        }
        .linkedin {
          background-image: url('../images/linked-in-icon.jpg');
          width: 22px;
          height: 22px;
        }
        .youtube {
          background-image: url('../images/youtube_Icon3.png');
          width: 55px;
          height: 22px;
        }
      }
    }
    .copyright,
    .links {
      @media(min-width: @screen-sm-min) {
        float: left;
        line-height: 11px;
      }
      ul.menu,
      p {
        font-size: 11px;
      }
    }
  }
}

.footer {
  position: relative;
  border: none;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
  .region-footer {
    max-width: 1220px;
    margin: 0 auto;
    padding: 22px 15px 20px 15px;
    overflow: auto;
    @media (min-width: @screen-md-min) {
      padding: 22px 0 20px 0;
    }
  }
  .region-footer {
    display: flex;
    display: -webkit-flex
  }

}
