// Insert your styling here.
.not-front {
  header.navbar {
    margin-bottom: 0;
    @media (min-width: @screen-md-min) {
      margin-bottom: 10px;
    }
  }
}
.front.logged-in.admin-menu,
.not-front.logged-in.admin-menu {
  header.navbar {
    margin-top: 56px;
    @media (min-width: @screen-sm-min) {
      margin-top: 56px;
    }
    @media (min-width: @screen-md-min) {
      margin-top: 29px;
    }
  }
}

.front header.navbar {
  @media (min-width: @screen-lg-min) {
    position:fixed;
  }
}

.header-wrapper {
  position:relative;
}
.navbar {
  border-radius: 0;
}

header.navbar {
  .row {
    margin: 0;
    @media (min-width: @screen-md-min) {
      margin: initial;
    }
  }
  max-width: auto;
  width: 100%;
  border: none;
  background-color: rgba(255,255,255,0.9);
  margin-bottom: -10px;
  z-index: 2;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  padding: 0;
  @media (min-width: @screen-lg-min) {
    margin-top: 0;
  }
  & > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .logo {
    text-align: left;    
    width: 200px;
    padding:15px 0 20px 0;
    margin: 0;
    line-height:100px;
    margin-left: 15px;
    position: relative;
    top: -10px;
    @media (min-width: @screen-sm-min) {
      margin-left:30px;
    }
    @media (min-width: @screen-lg-min) {
     margin:0;
    }
    img {
      width: 150px;
      @media (min-width: @screen-sm-min) {
        width: 165px;
      }
      @media (min-width: @screen-lg-min) {
        width:200px;
      }
    }
  }
  p.lead {
    font-size: 17px;
    color: #3CBEEF;
    float: left;
    position: absolute;
    bottom: -7px;
    left: 34px;
  }
  .navbar-header {
    margin: 0;
    @media (min-width: @screen-md-min) {
      margin: initial;
    }
    button.navbar-toggle {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 25px;
      @media (min-width: @screen-sm-min) {
        right: 25px;
      }
      .icon-bar {
        background-color: #A3A5A4;
        width: 32px;
        height: 4px;
        margin-top: 5px;
        border-radius: 10px;
      }
    }
    @media (min-width: @screen-md-min) {
      background-color: transparent;
      border-bottom: 0;
    }
  }
  .navbar-collapse {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max){
      max-width: 726px;
      width: 100%;
    }
    .desktop-menu {
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max){
        width: auto;
        float: right;
      }
    }
  }
 
  .region-header-top {
    @media (min-width: @screen-md-min) {
      position: absolute;
      top:0;
      right:30px;
      width: 100%;
    }
    @media (min-width: @screen-lg-min) {
      right:0;
      width: 100%;
     }   
    .block-lang-dropdown {
      
       @media (min-width: @screen-md-min) {
        display:inline-block;
        float:left;
        margin-right: 10px;
      }
      select.lang-dropdown-select-element,
      select.lang-dropdown-select-element:focus {
        color: #4a4a4a;
        border-radius: 0 !important;
        padding: 4px 6px 4px 4px;
        font-size: 12px;
        text-transform:uppercase;
        -webkit-font-smoothing: subpixel-antialiased;    
        -webkit-font-smoothing: subpixel-antialiased;    
        box-shadow:none;
        height:auto;
        width:52px!important;
        border:none;
        @media (min-width: @screen-md-min) {
          border: 1px solid #ddd;
          border-right: none;
          border-top: none;
        }
      }
      h2 {
        font-size: 14px;
        padding: 8px 5px 8px 0;
        float: left;
        margin: 0;
        color: #333;
      }
    }
    
     .header-top-menu {    
         border: 1px solid #ccc;     
        @media (min-width: @screen-md-min) {
          border: 1px solid #ccc;
          float: right;
          padding: 0 5px 0 10px;
          border-top: none;
        }
        .nav > li {
          @media (min-width: @screen-md-min) {
            float:left;
            padding: 5px 1em 5px 0;
          }
          list-style-type: none;
          &.search{
            border-top:1px solid #ccc;
            background: url(../images/search-icon.png) no-repeat;
            background-position: 110px center;
            background-size: 13px 13px;           
            @media (min-width: @screen-md-min) { 
              background-position: 46px 6px;
              background-size: 12px 12px;
              padding: 5px 1.5em 5px 0;
              border:none;
            }
          }
          a {
            text-transform:uppercase;
            color: #808080;
            font-size: 18px;
            padding:10px 30px;
            &:hover {
              background:transparent;
              color:@jewel-blue;
            }
            &:focus {
              background:transparent;
            }
            @media (min-width: @screen-md-min) { 
             font-size:10px;
             color:#4a4a4a;
             padding:0;
            }
          }
        }
        &#block-menu-menu-header-top-menu-na {
          ul {
            li:last-child {
              padding: 5px 1em 5px 0;
            }
          }
        }
      } 
  }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

#block-partner-portal-login-block-header-login-block {

  .header_login_block_wrapper {
    .header_user_name {
      float: none;
      text-transform:uppercase;
      @media (min-width: @screen-md-min) {
        float: initial;
        padding: initial;
        margin: initial;
      }
      a.logout {
        color: #333;
        border-left: 1px solid#333;
        padding-left: 5px;
        margin-left: 3px;
      }
    } 
    @media (min-width: @screen-lg-min) {	
      position:initial;
      padding-right: 10px;
      text-align: right;
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  @media (min-width: @screen-md-min) {
    position: absolute;
    right: 0;
    margin-top: 33px;
    font-size: 10px;
  }
  @media (max-width: @screen-sm-max) {
    text-align: left;
    padding: 10px 30px;
    padding-bottom:0;
    border-left: 1px solid#ddd;
    border-right: 1px solid #ddd;
  }
}

.desktop-menu {
  @media (min-width: @screen-md-min) { 
    padding-left:50px;
    margin-top:55px;
  }
  @media (min-width: @screen-lg-min) { 
    padding-left:150px;
  }
}

@media (min-width: @screen-md-min) {
  ul.nav li.dropdown:hover ul.dropdown-menu { 
    display: block;
  } 
}


/* New Header */
header.navbar {
  .navbar-collapse {
    padding:0;
    right:0;   
    position: absolute;
    top:90px;
    background:#fff;
    @media (max-width: @screen-sm-max) { 
      width: 100%;
    }
    @media (min-width: @screen-sm-min) { 
      top:100px;
    }
    @media (min-width: @screen-md-min) {
      top:0;
      background-color:transparent;
      padding-right:30px;
    }
    @media (min-width: @screen-lg-min) { 
      padding-right:0;
    }
    ul.navbar-nav {
      margin:0;
    }
    ul.nav {
      li {   
        @media (min-width: @screen-md-min) { 
          padding: 0 16px 0 0;
        }
        @media (min-width: @screen-lg-min) { 
          padding: 0 90px 0 0;
        }
        a {
          background-color: transparent;
          color: #4a4a4a;
          text-transform: uppercase;
          font-size: 20px;
          padding: 10px 30px;          
          &:hover,
          &:active {
            color: #008c96;
          }
          @media (min-width: @screen-md-min) {
            font-size: 11px;
            padding: 0;
          }
        }
        &:last-child { 
          padding: 0;
          @media (max-width: @screen-sm-max) { 
            clear:both;
          }
        }
        &.dropdown {
          @media (min-width: @screen-md-min) {  
            &:hover {
              height: 40px;           
              padding-bottom:45px;
            }
          }
          > a {
            &:hover,
            &:active {
              color: #008c96;
              background: url('../images/icon-small-blue-down-menu.png') no-repeat;
              background-position: 95% center;
              height: 40px;
              @media (min-width: @screen-md-min) {
               background-position: center 25px;
               padding-bottom:45px;
              }
            }
          }
          ul.dropdown-menu {
            background: rgba(255,255,255,0.70);
            padding: 5px 0 5px 10px;
            max-width:260px;     
            border: none;
            @media (min-width: @screen-md-min) { 
              margin-left: -10px;   
            }
            li {
              white-space: normal;
              width: 100%;              
              @media (min-width: @screen-md-min) { 
                padding: 5px 10px 5px 3px;
                float: left;
              }
              a {
               &:hover,
               &:active {
               height: auto;
               @media (min-width: @screen-md-min) {
                  background: url('../images/icon-small-blue-right.png') no-repeat;
                  background-position: right center;
                  background-color: transparent;
                }
               }
               &.active-trail {
                background-color: transparent;
                color: #008c96;
               }
              }
            }
            li.leaf {
              a {
                padding-right: 10px;
              }
            }
          }
          .caret {
            display: none;
          }
        }
        &.open {
          a.dropdown-toggle {
              color: #008c96;
              background: url('../images/icon-small-blue-down-menu.png') no-repeat;
              background-position: 95% center;
              height:40px;
              @media (min-width: @screen-md-min) { 
                background-position: center 25px;
                height: 45px;
              }
            }
          ul.dropdown-menu {
            @media (min-width: @screen-md-min) {
              margin-top:0px;
              &:hover {
                margin-top:0px;
              }
            }
          }          
        }
      }
    }
  }
}

.region-search {
   background-color:#e8e8e8;
  .header-search {
   @media (max-width: @screen-md-max) { 
    padding:0 30px;
   }
    display:none;
    max-width: 1240px;
    margin: 0px auto !important;
    form {
       margin-top:5px!important;
       .input-group {
        display:inline-block;
        width:100%;
       }
      .form-control {
        height:25px;
        border:none;
        background:url(../images/search-icon-big.png) no-repeat;
        background-position: 10px 3px;
        background-size: 19px 19px;
        padding:0;
        box-shadow:none;
        padding-left: 40px;
        font-size:16px;
        &:focus {
          box-shadow:none;
          outline:2px solid #66afe9;
          border-radius:0!important;
        }
      }
      .input-group-btn {
        position:absolute;
        right:10px;
        z-index:10;
        .close-search {
          position:absolute;
          right:40px;
          font-size:18px;
          padding:0;
          background:transparent;
          border:none;
          padding-left:10px;
          &:focus {
            outline:none;
          }
          @media(max-width: @screen-xs-max) {
            right: -20px;
          }
        } 
      }
      button.element-invisible.btn.btn-primary.form-submit {
        @media(max-width: @screen-xs-max) {
          display: none;
        }
      }
    }
  }
}

.i18n-de header.navbar {
  .navbar-collapse {
    .desktop-menu {
      padding-left:0;
      @media (min-width: @screen-lg-min) {
        padding-left:50px;
      }
      ul.nav {
        li {   
          @media (min-width: @screen-md-min) { 
           // padding: 0 35px 0 0;
          }
          @media (min-width: @screen-lg-min) { 
              padding: 0 60px 0 0;
          }
          &:last-child { 
            padding: 0; 
            @media (max-width: @screen-sm-max) { 
              clear:both;
            }
          }
        }
      }
    }
  }
}

/*Partner Portal*/
.partner-portal-header {
  line-height: 1;
  font-size: 14px;
  left: 170px;
  bottom: 25px;
  position: absolute;


  @media (min-width: @screen-sm-min) {
    font-size: 14px;
    left: 217px;
    bottom: 22px;
  }
  @media (min-width: @screen-lg-min) {
    left: 221px;

  }
  .title {
    color: #329AA5;
  }
  .domain {
    color: #3CBEEF;
  }
}

.sbHolder {
  .sbOptions {
    width: inherit;
  }
}

.view-pp-manage-content {
  .view-header {
    .block-partner-portal-tweaks {
      @media (min-width: @screen-sm-min) { 
        float: left;
        margin-right: 5px;
      }
    }
    .view.view-administration-contact-information {
      margin-right: 5px;
    }
  }
  .btn.btn-default {
    margin-bottom: 5px;
    @media (max-width: @screen-xs-max) { 
      max-width: 230px;
      width: 100%;
      
      text-align: left;
      float: left;
      clear: left;
    }
  }
}

header.navbar {
  .navbar-collapse {
    @media (max-width: @screen-sm-max) { 
      overflow: inherit;
    }
  }
}
.view-site-slogan {
  float: left;
  line-height: 1;
  margin-top: -29px;
  margin-left: 0;
  padding: 0;
  position: absolute;
  font-size: 14px;
  color: #00B2EF;
  right: 36px;
  @media (min-width: @screen-sm-min) { 
    margin-top: -28px;
    font-size: 17px;
    right: 37px;
  }
  @media (min-width: @screen-lg-min) { 
    margin-top: -24px;
    right: 47px;
  }
}

#block-domain-switcher.block {
  float: left;
  @media (max-width: @screen-md-min) { 
    margin-left: -17%;
  }
  @media (max-width: @screen-lg-min) { 
    margin-left: 0;
  }
  @media (max-width: @screen-sm-max) { 
    margin-left: 0;
  }
  .sbHolder {
    @media (max-width: @screen-sm-max) { 
      width: 100%;
    }
    ul.sbOptions {
      top: 24px!important;
      width: 100%;
    }
  }
}
#block-lang-dropdown-language,
#block-domain-switcher.block {
  @media (max-width: @screen-sm-max) { 
    width: 100%;
    float: left;
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
    width: 50%;
    float: left;
  }
  .sbHolder {
    @media (max-width: @screen-xs-max) { 
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
    }
  }
}
#block-lang-dropdown-language {
  .lang_dropdown_form {
    .form-group {
      @media (max-width: @screen-sm-max) { 
        border: 0;
      }
    }
  }
  .sbHolder {
    @media (max-width: @screen-xs-max) { 
      border-bottom: 1px solid #ccc;
    }
    @media (max-width: @screen-sm-max) { 
      border-left: 0;
      border-right: 0;
    }
  }
}
#block-menu-menu-header-top-menu {
  @media (max-width: @screen-sm-max) { 
    clear: left;
    border: 0;
  }
}

#block-block-27 {
	width: 90px;
    margin-top: 35px;
    margin-left: 60px;
}