body, html {
  @media (min-width: @screen-lg-min) {
    height: 100%;
  }
}
.glyphicon-plus {
  right: 7px;
}
.section-fixed {
  top: 0;
  width: 100%;
  height: 75%;
  z-index: 0;
  @media (min-width: @screen-lg-min) {
  position: fixed;
  }
}
.section-content {
  top: 75%;
  .row {
    margin: 0;
  }
}

.main-container {
  padding-bottom: 40px;
  @media (min-width: @screen-sm-min) {
    padding-bottom: 60px;
  }
  .row {
    > section:first-of-type {
      @media (max-width: @screen-md-max) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (min-width: @screen-lg-min) {
        padding: 0;
      }
    }
  }
}

.panels-flexible-1 .front-main-container {
  position: relative;
  width: 100%;
  padding: 0 30px;
  background: #fff;
  @media (min-width: @screen-lg-min) {
    padding: 0;
  }
  .panels-flexible-row-inside {
    max-width: 1220px;
    margin: 0 auto;
  }
}

/* Welcome Block */
.panel-welcome {
  margin-left: -15px;
  margin-right: -15px;
  > .inside {
    @media (min-width: @screen-md-min) {
      padding-top: 30px;
    }
  }
  
  .inside {
    padding-left: 0;
  }
  h2 {
    padding-bottom: 14px;
  }
  iframe.BrightcoveExperience {
    width: 100%;
    height: 285px;
    position: static;
    padding-left: 8px;
  }
  .BCLvideoWrapper {
    @media (max-width: @screen-xs-max) {
      position: static;
      padding-bottom: 0;
    }
  }
  @media (max-width: @screen-sm-max) {
    margin-bottom: 45px !important;
  }
}

/* News Block */
.pane-news {
  @media (max-width: @screen-sm-max) {
    float: left;
  }
  h2 {
    margin-bottom: 21px;
     margin-top: 0;
  }
}
.front,
.page-news {
  .view-news {
    .views-row {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      .views-field-title {
        font-size: 24px;
        font-family: @AauxBold;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .views-field-created {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        width: 100%;
        float: left;        
        .author, .date {
          display: inline-block;
          float: left;
          margin-right: 3px;
          @media (min-width: @screen-sm-min) {
            display: block;
          }
        }
      }
      .views-field-field-image {
        float: left;
        width: 100%;
        @media (min-width: @screen-sm-min) {
          width: 24%;
          margin-right: 2%;
        }
        img {
          margin: 0 auto;
          margin-bottom: 20px;
          @media (min-width: @screen-sm-min) {
            margin: 0;
          }
        }
      }
      .views-field-body {
        float: left;
        @media (min-width: @screen-sm-min) {
          width: 74%;
          font-size: 16px;
          min-height: 75px;
          padding-bottom: 15px;
        }
      }
      .views-field-view-node-1 {
        margin-left: 15px;
      }
      .views-field-path {
        float: right;
        text-transform: uppercase;
        padding: 8px 0;
        font-size: 14px;
      }
      @media (max-width: @screen-sm-max) {
        margin-bottom: 0px;
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d2d2d2;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .more-link {
      .btn.btn-default;
      float: right;
      margin-bottom: 50px;
    }
  }
}

/* Contact Us */
.contact-us {
  position: relative;
  clear: both;
  @media(min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    padding-bottom:50px;
  }
  h2 {
    margin-bottom: 15px;
    @media (min-width: @screen-sm-min) {
      margin-bottom: 45px;
    }
  }
  form {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    min-height:155px;
    .webform-component-select {
      width: 100%;
      float: left;
      padding-bottom: 10px;
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 25%;
        margin-right: 1%;
      }
      @media (min-width: @screen-md-min) {
        width: 15%;
        float: left;
        margin-right: 1%;
        font-size:0;  
      }
    }
    #webform-component-first-and-last-name {
      width: 100%;
      float: left;
      padding-bottom: 10px;
      @media (min-width: @screen-sm-min) {
        width: 25%;
        float: left;
      }
    }
    #webform-component-phone-number {
      width: 100%;
      float: left;
      padding-bottom: 10px;
      clear: both;
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-left: 26%;
        width: 25%;
        float: none;
      }
      @media (min-width: @screen-md-min) {
        width: 25%;
        margin-left: 16%;
        float: none;
      }
    }
    .captcha {
      float: left;
      width: 100%;
      
      @media (max-width: @screen-xs-max) {
        padding-top:10px;
      }
      @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        float: left;
        width: initial;
        position: relative;
        left: 42%;
        top: 85px;
      }
      @media (min-width: @screen-lg-min) {
        margin-left: 16%;
        float: none;
        width: initial;
      }
      .g-recaptcha {
        @media screen and (max-width: 360px) {
          overflow: hidden;          
          border-radius: 2px;
        }
        > div {
          > div {
            @media screen and (max-width: 360px) {
              width:220px !important;
              border-right: 1px solid #d3d3d3;
            }
            > div {
              @media screen and (max-width: 360px) {
                width: 100% !important;
              }
              iframe {
                @media screen and (max-width: 360px) {
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
    .webform-component-textarea {
      width: 100%;
      float: left;
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 48%;
        top: 0;
        position: absolute;
        right: 0;
      }
      @media (min-width: @screen-md-min) {
        width: 58%;
        position: absolute;
        top: 0;
        right: 0;
        padding-bottom: 10px;
      }
      .grippie {
        display: none;
      }
      textarea {
        max-height: 156px;
        min-height: 156px;
      }
    }
    .btn-group {
      background: #f1601f url(../images/more-arrow.png) no-repeat;
      background-position: 93% center;
      -webkit-font-smoothing: subpixel-antialiased;
      width:100%;
      a.btn {
        position:relative;
        bottom:initial;
        float:left;
        width:100%;
        text-align:left;
        color:#fff;
        font-family: @AauxRegularItalic;
        font-style: italic;
        font-size: 14px;
        padding:3px 0 3px 15px;
        margin-top:initial;
      }
      ul.dropdown-menu {
        width:100%;
        background: #f1601f;
        box-shadow:none;
        border:none;
        border-radius:0;
        a {
          color:#fff;
          padding:3px 15px;
          font-family: @AauxRegularItalic;
          font-style: italic;
          &:hover {
            background:#008d9c;
          }
        }
      }
    }
    .btn {
      float: left;
      margin-top: 10px;
      @media (min-width: @screen-sm-min) {
        float: right;
        position: absolute;
        right: 0;
        bottom:-40px;
      }
    }
    select.form-control {
      background-color: @orange;
      border-color: @orange;
      color: #fff;
      border-radius: 4px !important;
      padding: 3px 10px;
      font-family: @AauxRegularItalic;
      font-style: italic;
    }
  }
}
.logged-in {

}

#news {
  margin-top: 30px;
}
#events {
  margin-top: 35px;
}
.panel-welcome {
  .video-block.panels-flexible-region {
    @media (min-width: @screen-sm-min) {
      padding-right: 15px;
    }
  }
  .quick-links.panels-flexible-region {
    @media (min-width: @screen-sm-min) {
      padding-left: 15px;
    }
  }
}

.panels-flexible-region-1-center_ {
  width: 100%;  
  .pane-special-events {    
    clear:both;
    width:95%;
    margin: 0 auto;
    @media (min-width: 670px) {
      width: 100%;
      margin: 0 auto;
    }
    @media (min-width: 1300px) {
      width: 100%;
      margin: 0 auto;
    }
    .owl-wrapper-outer.autoHeight {
      min-height: 370px;
    }
    .views-field-field-image-node {
      text-align: center;
      img {
        display: initial;
        width:84%;
        @media (min-width: 670px) {
          width:94%;
        }
      }
    }
    .views-field-field-image-node {
      text-align: center;
      img {
        display: initial;
      }
    }
    .views-field-field-special-date {
      position: absolute;
      top: 0;
      right:0;
      margin-right:8%;
      background-color: rgba(255, 255, 255, 0.8);   
      color: #4a4a4a;      
      padding:5px 10px;
      @media (min-width: 670px) { 
        margin-right:3%;
      }
    }
    .views-field-title {
      position: absolute;
      bottom: 75px;
      color: #fff;
      padding:5px 10px;
      font-size: 20px;
      margin:0 8%; 
      line-height:1.3;
      background-color: rgba(255, 255, 255, 0.8);     
      @media (min-width: 670px) { 
        margin:0 3%; 
      }
      a {
        color: #4a4a4a;
        font-size: 20px;
      }
    }
    .views-field-view-node {
      padding: 10px;
      width: 84%;
      margin: 0 auto;
      min-height: 75px;
      max-height:75px;
      @media (min-width: 670px) { 
         width: 94%;
      }
    }
    .owl-controls {
      .owl-buttons {
        div {
          background: #fff;
          padding: 0px;          
        }        
        .owl-prev {
          position: absolute;
          left: -4%;
          top: 35%;
          color: #c1d730;
          font-size: 30px;
          font-weight: bold;
          opacity: initial;
          @media (min-width: 670px) {
            left: -2%;
          }   
        }
        .owl-next {
          position: absolute;
          right: -4%;
          top: 35%;
          color: #c1d730;
          font-size: 30px;
          font-weight: bold;
          opacity: initial;
          @media (min-width: 670px) {
            right: -2%;
          }         
        }
      }
    }
    .view-footer {
      a {
        .btn.btn-default;
        float: right;
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
  }
}
.contact-container {
  padding: 0 30px;
  margin-top: 10px;
  @media (min-width: @screen-lg-min) {
    padding: 0;
    margin-top: 20px;
  }
  .contact-region {
    width: 100%;
    margin: 0 auto;
    @media (min-width: @screen-sm-min) {
      width: 35%;
      float: left;
      h2 {
        margin-bottom: 40px;
        margin-top:-10px;
      }
    }
    .views-field-field-adress {
      margin-bottom:25px;
    }
    .views-field-field-email {
      margin-top:25px;
      margin-bottom:25px;
    }
  }
}
.not-front {
  .contact-container {
    .region-footer-contact {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
.map-region {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  @media (min-width: @screen-sm-min) {
    width: 65%;
    float: left;    
  }
}

/* Front background image */
.front-background-image {
  clear:both;
}
.background-front {
  clear:both;
  background-image:url(../images/parallax.jpg);
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  height:300px;
  background-repeat:no-repeat;
}
