.lang_dropdown_form {
  .form-group {
    margin:0;
     @media (max-width: @screen-sm-max) {
        border: 1px solid #ddd;
        border-top: none;
     }
  }
  #lang-dropdown-select-language_msdd {
    border:none;
    padding: 5px 20px;
    line-height: 1.35!important;
    display: block;
    margin-top: -3px;
    .ddTitle {
      background: none;
      color: #4a4a4a;
	  height: 16px;
      .ddTitleText  {
        padding: 0;
        font-size: 16px;
        img {
          padding: 0;
          top: -3px;
          left: 10px;
        }
      };
      .ddlabel {
		font-family: "Arial";
		font-size: 11px;
		text-transform: uppercase;
		text-align: center;
		display: block;
		font-style: normal;
		font-weight: 400;
    color: #777;
        //display: none;
      };
      .ddArrow, .divider {
        display: none;
      }
    };
    .ldsSkin {
      .divider {
        display: none;
      };
      border-right: none;
    }
    @media (max-width: @screen-sm-max) {
       width:auto!important;
       &:focus {
        outline:none;
       }
    }
    @media (min-width: @screen-md-min) {
      border: 1px solid #ccc;
      border-left: none;
      border-top: none;
      line-height: 1.2;
      padding:0;
      font-size:20px;
      width: 30px;
    }
  }
  .ddcommon .ddChild {
    margin-top: 6px;
    height: auto !important;
    width: 40x;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    li {
      display: inline-block;
        @media (max-width: @screen-sm-max) {
        img{
          left:initial;
          margin:5px;
        }
      }
    }
  }
}

#block-domain-switcher {
  margin-right: 0; /* Override Domain Switcher styling */
  @media (max-width: @screen-md-max) {
    float: none;
    margin-left: -15%;
  }
}

.ddChild {
  ul {
    li {
      background: none !important;
      .ddlabel {
        display: inline-block;
        font-size:12px;
      };
      img {
        padding: 0 !important;
        left: 5px;
        margin-right:10px;
      }
    }
  }
}

.ddOutOfVision {
  &:focus {
    outline:none;
  }
}

/*.domain-swiss-partners-dev-sealedair-com.i18n-gsw-berne {
  .lang_dropdown_form {
    #lang-dropdown-select-language_msdd {
      line-height: 1.2 !important;
      margin-top: 0;
      .ddChild {
        width: 80px;
        li {
          float: left;
          width: 100%;
          text-align: left;
        }
      }
      .ddlabel {
        font-size: 8px;
      }
    }
  }
}*/
/*.domain-swiss-partners-dev-sealedair-com {
  .lang_dropdown_form {
    #lang-dropdown-select-language_msdd {
      line-height: 1.2 !important;
      margin-top: -4px;
      .ddChild {
        width: 80px;
        li {
          float: left;
          width: 100%;
          text-align: left;
        }
      }
      .ddlabel {
        font-size: 8px;
      }
    }
  }
}*/
