.north-america {
  &.logged-in {
    header.navbar {
      .region-header-top {
        width: 100%;
      }
    }
  }
  &.not-logged-in {
    .region-content {
      padding-bottom: 0;
    }
  }
  h2 {
    font-size: 22px;
    @media (min-width: @screen-sm-min) {
      font-size: 34px;
    }
  }
  h3 {
    color: #333;
    font-size: 16px;
    @media (min-width: @screen-sm-min) {
      font-size: 22px;
    }
  }
  
  /* Masquerade */
  .block-my-locations {
    float: right;
    h2 {
      margin-top: 0;
    }
    table {
      width: 100%;
      td {
        width: 50%;
        float: left;
        margin-bottom: 20px;
        border-bottom: 1px solid #dedede;
        padding-bottom: 20px;
      }
      tr.row-last {
        td {
          border-bottom: 0;
        }
      }
    }
  }
  .block-user-profile {
    padding: 0;
    @media (min-width: @screen-sm-min) {
      padding-right: 15px;
    }
  }
  .block-shopping-cart {
    padding: 0;
    clear: left;
    @media (min-width: @screen-sm-min) {
      padding-right: 15px;
    }
  }
  .block-masquerade {
    padding: 0;
    clear: left;
    @media (min-width: @screen-sm-min) {
      padding-right: 15px;
    }
    .form-item-masquerade-user-field {
      .input-group-addon {
        position: absolute;
        z-index: 1;
        right: 12px;
        border: 0;
        bottom: -6px;
        background-color: transparent;
      }
      .btn {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      #edit-masquerade-user-field {
        float: none;
        margin-bottom: 10px;
        z-index:1;
      }
    }
  }
  .whats-new-block {
    padding:0;
    padding-top: 10px;
    @media (min-width: @screen-sm-min) {
      padding-left: 15px;
      padding-top: 0;
    }
    h2 {
      margin-top: 0;
    }
  }
  &.node-type-distributor-locations {
    .view-location-views {
      .views-row {
        span.views-field-title {
          float: left;
          width: 100%;
        }
      }
    }
  }
}