.node-type-news {
  .page-header {
    display: none;
  }
  .breadcrumb {
    margin-bottom: 40px;
  }
  blockquote {
    font-size: 16px;
    border-left: 5px solid @jewel-blue;
    font-style: italic;
    @media (min-width: @screen-md-min) {
      display: block;
      font-size: 14px;
      border-left: 0;
      border-top: 1px solid @jewel-blue;
      width: 125%;
      position: absolute;
      left: -25%;
      padding-right: 102%;
      padding-left: 0;
      font-style: normal;
    }
  }
  .view-news {
    .views-field-picture {
      float: left;
      margin-right: 20px;
    }
    .views-field-title-1 {
      font-family: @Arial;
      font-size: 28px;
      color: @jewel-blue;
      text-transform: uppercase;
      line-height: 1.1;
    }
    .views-field-name {
      color: @jewel-blue;
      float: left;
      margin-right: 4px;
    }
    .views-field-created {
      color: @jewel-blue;
    }
    .views-field-body {
      p {
        margin-top: 15px;
        margin-bottom: 15px;
        @media (min-width: @screen-md-min) {
          margin-top: 35px;
          margin-bottom: 20px;
        }
      }
      blockquote {
        p {
          margin: 0;
        }
      }
    }
  }
  .panels-flexible-region-first {
    .inside {
      padding-right: 0;
      .field-type-media {
        .content {
          @media (max-width: @screen-xs-max) {
            margin: 0 -30px 0 -30px;
          }
          img {
            @media (max-width: @screen-xs-max) {
              width: 100%;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
  h6 {
    margin-bottom: 6px;
    margin-top: 20px;
  }
  .pane-sharethis {
    margin-bottom: 30px;
  }
}