.page-promotions {
  .panels-flexible-region-3-center {
    width: 100%;
  }
}

.promotions-intro {
  h2 {
    margin-top: 30px;
  }
  .pane-content {
    padding-top: 15px;
  }
}

.promotions-list,
.specials-list {
  margin-top: 35px;
  @media(min-width:@screen-sm-min) {
    margin-top: 70px;
  }
  .view-content {
    @media(max-width:@screen-xs-max) {
      margin-left: -30px;
      margin-right: -30px;
    }
  }
  .views-row {
     display: inline-block;
     width: 100%;
     padding-bottom: 35px;
    @media(min-width:@screen-sm-min) {
      padding-bottom: 60px;
    }
    .views-field-field-image-node {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      @media(min-width:@screen-sm-min) {
        float: left;
        margin-right: 30px;
        width: 300px;
      }
       @media(min-width:@screen-md-min) {
         width: 385px;
      }
    }
    .views-field-title {
      padding: 25px 30px 0 30px;
      font-size: 30px;
      line-height: 0.9;
      @media(min-width:@screen-sm-min) {
        padding: 0;
      }
      @media(min-width:@screen-md-min) {
        font-size: 40px;
      }
    }
    .views-field-field-special-by {
      padding: 0 30px;
      color: @jewel-blue;
      span {
        float: left;
        margin-right: 5px;
      }
      @media(min-width:@screen-sm-min) {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .views-field-field-promotion-valid-until {
      padding: 0 30px;
      font-size: 14px;
      text-align: left;
      @media(min-width:@screen-sm-min) {
        padding: 0;
        text-align: right;
        float: right;
        margin-top: 25px;
        margin-right: 15px;
      }
      @media(min-width:@screen-lg-min) {

      }
      span {
        @media(max-width:@screen-xs-max) {
          float: left;
          margin-right: 5px;
        }
      }
      .field-content {
        float: left;
        margin-left: 5px;
        @media(min-width:@screen-sm-min) {
          float: right;
        }
      }
    }
    .views-field-view-node {
      margin-top: 10px;
      padding: 0 30px;
      text-align: right;
      float: left;
      margin-bottom: 5px;
      @media(min-width:@screen-sm-min) {
        padding: 0;
        margin-top: 18px;
        float: right;
      }
      span {
        a {
          color: #fff;
        }
      }
    }
    .text-center {
      clear: both;
    }
    .views-field-body {
      padding: 0 30px;
      padding-top: 15px;
      @media(min-width:@screen-sm-min) {
        padding: 0;
      }
    }
    .views-field-field-special-date {
      color: @jewel-blue;
      @media(max-width:@screen-xs-max) {
        padding: 5px 30px 0 30px;
      }
    }
  }
}

/* Node promotion */
.panels-flexible-region-5-center {
  width: 100%;
}

.field-name-field-market-sectors {
  color: @jewel-blue;
  .field-label {
    font-weight: initial;
  }
}

.view-slider-promotions {
  .flexslider {
    border: none;
    .flex-control-nav {
      width: 101%;
    }
    .flex-control-thumbs {
        margin: 0 -5px;
      li {
        width: 20%;
        border: 5px solid #fff;
        border-top: 10px solid #fff;
      }
    }
  }
}
.view-slider-events {
  .flexslider {
    border: none;
    @media(max-width: @screen-sm-max) {
      margin:0 0 30px;
    }
    .flex-control-nav {
      width: 101%;
    }
    .flex-control-thumbs {
        margin: 0 -5px;
      li {
        width: 20%;
        border: 5px solid #fff;
        border-top: 10px solid #fff;
      }
    }
  }
}
.file-upload {
  display: inline-block;
  padding-left: 55px;
  min-height: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left:35px;
  //background: url('../images/document.png');
  background-repeat: no-repeat;
  background-position: left;
  img {
    //display: none;
  }
  a {
    display: inline-block;
    margin-top: 5px;
    color: initial;
    text-decoration: none;
  }
}

.specials-list {
  margin-top: 5px;
  @media(min-width:@screen-sm-min) {
    margin-top: 45px;
  }
}

.field-name-field-file-attachements {
  text-align: right;
  .field-items {
    display: inline-block;
    .field-item {
      float: left;
      margin-left: 50px;
    }
  }
}
.page-node-edit .field-name-field-file-attachements {
  text-align:left;
}

.pagination {
  & > li > a {
  color: #000;
  }
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #B7C556;
  border-color: #B7C556;
}

.promotions-no-result {
  text-align:center;
  img {
    display:inline-block;
    max-width:100%;
    
  }
}