.panels-flexible-1 {
  .panels-flexible-row {
    padding: 0;
  }
  .panels-flexible-region-1-promoted_slider {
    padding-top: 200px;
    position: relative;
    width: 100%;  
    .panel-separator {
      margin: 0;
    }
  }
}
.main-container {
  background: #fff;
  position: relative;
}
  .views-field-field-slider-image {
    a {
      display: block;
    }
  }
.region-slider {
 position:relative;
 height: 500px;
 @media (min-width: @screen-lg-min) {
  height: auto;
  position:initial;
 }
  .main-slider {
    @media (max-width: @screen-md-max) {
      margin-top:-100px;
    }
    @media (max-width: @screen-xs-max) {
    margin-top:-92px;
    }

    .flexslider {
      width: 100%;
      margin: 0;
      border: none;
      .flex-direction-nav a {
        width: 60px;
        height: 65px;
        &:before {
          color: #fff;
          font-size: 55px;
        }
      }
      .slides > li { 
       -webkit-backface-visibility:visible;
       position:relative;
      }
      .views-field-title,
      .views-field-field-main-slide-description,
      .views-field-field-slide-link {
        position: absolute;
        max-width: 1100px;
        width: 94%;
        left: 50%;
        margin-left: 15px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        @media (min-width: @screen-lg-min) {
          width: 100%;
        }
      }
     .views-field-title {
        a {
          color: #fff;
        }
        /*position: absolute;
        max-width: 1100px;
        width: 100%;
        top: 40%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);*/
        top: 26%;
        @media (max-width: @screen-xs-max) {
          top: 160px;
          font-size: 28px;
        }
        @media (min-width: @screen-lg-min) {
          top: 200px;
        }
        color: #fff;
        font-size: 41px;
        text-transform: uppercase;
        font-family: Arial;
        font-weight: bold;
        .center {
          text-align: center;
          display: block;
        }
        .right {
          text-align: right;
          display: block;
          margin-right: 20px;
        }
      }
     .views-field-field-main-slide-description {
      a {
        color: #fff;
      }
      /*position:absolute;
      max-width: 1100px;
      width:100%;
      top:50%;
      left:50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);*/
      top: 38%;
      @media (max-width: @screen-xs-max) {
        top: 230px;
      }
      @media (min-width: @screen-lg-min) {
        top: 250px;
      }
      color: #fff;
      font-size: 18px;
      //text-transform:uppercase;
      //text-align:center;
      @media (min-width: @screen-sm-min) {
        font-size:18px;
      }
      .field-content {
        display:inline-block;
        width: 50%;
        padding: 10px 0;
        //background-color:rgba(255,255,255,0.7);`
        font-family: "Arial";
        @media (max-width: @screen-xs-max) {
          width:100%;
        }
        @media (min-width: @screen-sm-min) and  (max-width: @screen-sm-max){
          width: 65%;
        }
        &.center {
          text-align:center;
          display: block;
          margin: 0 auto;
        }
        &.right {
          text-align: right;
          display: block;
          float: right;
          margin-right: 20px;
        }
      }
     }
     .views-field-field-slide-link {
      top: 60%;
      @media (max-width: @screen-xs-max) {
        top: 350px;
      }
        @media (min-width: @screen-lg-min) {
          top: 350px;
        }
        .field-content {
          .btn;
          .btn.btn-default;
        }
     }
    }
  }
  .background-slider {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }


  .control-slider {
    @media (max-width: @screen-sm-max) { 
      display:none;
    }
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 94%;
    max-width: 1100px;
    margin: 0 auto;
    @media (min-width: @screen-lg-min) {
      width: 100%;
    }
    .flexslider {
      margin: 0;
      border: none;
      background: transparent;
      .slides > li { 
      -webkit-backface-visibility:visible;
      position:relative;

        .views-field-field-slider-image img {
          width: 92%;
          margin-left: 4%;
        }  
        .views-field-field-slide-description {
          position: absolute;
          bottom: 0px;
          color: #fff;
          margin:0 4%;
          .field-content {
            padding: 0 10px;
            background-color: rgba(255, 255, 255, 0.8);
            color: #4a4a4a;
            text-align: left;
          }
        }
      }
      .flex-direction-nav a {
        height: 50px;
        &:before {
          color: #C1D730;
          line-height:45px;
        }
      }
      .flex-direction-nav a, 
      .flexslider .flex-direction-nav a {
        display: initial;
        height:40px;
      }
      &:hover .flex-direction-nav .flex-prev {
        left: 0px;
        @media (min-width: @screen-md-min) {
          left: -15px;
        }
      }
      &:hover .flex-direction-nav .flex-next {
      right: 0px;
        @media (min-width: @screen-md-min) {
        right: -15px;
        }
      }
      .flex-direction-nav .flex-prev {
      left: 0px;
      opacity: 1;
        @media (min-width: @screen-md-min) {
          left: -15px
        }
      }
      .flex-direction-nav .flex-next {
      right: 0px;
      opacity: 1;
        @media (min-width: @screen-md-min) {
          right: -15px;
        }
      }
    }
  }
}
.fix-background {
  transform:none!important;
  -webkit-backface-visibility: visible;
}