.header-image {
  position: relative;
  @media (min-width: @screen-sm-min) {
    margin-bottom: 60px;
    margin-top:20px;
  }
  img {
    width: 100%;
  }
}
.template-a-tabs {
  width: 25%;
  padding: 0;
  z-index: 0;
  padding-right: 15px;
  border-bottom:0;
  li {
    padding: 0;
    float:none;
    border:none;
    border-bottom: 1px solid #eee;
    &.active {
      background: transparent;
      border: none;
       border-bottom: 1px solid #eee;
      a {
        position: relative;
        color: #F1601F;
        font-weight: initial;
        border:none;
        background-color:transparent;
        &:hover {
          border:none;
          color:#F1601F;
          background-color:transparent;
        }
        &:focus {
          border:none;
          color:#F1601F;
          background-color:transparent;
        }
      }
    }
    a {
      text-align: left;
      height: initial;
      border:none;
      color:@jewel-blue;
      border-radius:0;
      &:hover {
        border:none;
        background-color:transparent;
        color:#F1601F;
      }
      &:focus {
      background-color:transparent;
      }
    }
  }
  &.nav-tabs {
    margin-bottom:60px;
  }
}

ul.template-a-tabs {
  @media(max-width: @screen-xs-max) {
    float: none;
    padding-right: 0;
    width: 100%;
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    background: #008D9C;
    &:after {
      content: " ";
      position: absolute;
      border-top: 9px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      top: 15px;
      right: 20px;
      z-index: 2;
      pointer-events: none;
      color: #fff;
    }
    &.open a {
      position: relative;
      display: block;
      color: #fff;
      text-align: right;
      padding-right: 60px;
      &:hover {
        color:#fff;
      }
      &:focus {
        color:#fff;
      }
    }
    li {
      display: block;
      padding: 0;
      color:#fff;
     a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: none;
        color:transparent;
        background:transparent;
      }
      &.active {
        a {
          border: none;
          z-index: 1;
          background: #008D9C;
          color: #fff;
          text-align: right;
          padding-right: 60px;
          background:transparent;
          &:hover {
            background-color:transparent;
            color:#fff;
          }
          &:focus {
            color:#fff;
            background-color:transparent;
          }
        }
      }
    }
    a {
      padding-top:10px;
      padding-bottom:10px;
      font-size:16px;
      background-color:transparent;
      &:focus {
        background-color:transparent;
      }
      &:hover {
        background-color:transparent;
      }
    }
  }
}

.template-a-content {
  @media(max-width: @screen-xs-max) {
      margin-left: -30px;
      margin-right: -30px;
   }
   .paragraph-content {
      text-align:initial;
     @media(max-width: @screen-xs-max) {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  .right-region {
    padding:0;
    @media(min-width: @screen-md-min) {
      padding-left: 15px;
    }
    h2 {
      margin-top: 40px;
      @media(max-width: @screen-xs-max) {
        padding-right: 30px;
        padding-left: 30px;
      }
       @media(min-width: @screen-sm-min) {
        margin-top: 0px;
        margin-bottom:20px;
       }
    }
    .file-upload {
      margin:15px 35px 0 0;
    }

    .image-full {
      text-align:center;
      img {
        max-width: 100%;
        height: auto;
        margin-bottom:10px;
        margin-top:0;
      }
      margin-bottom: 30px;
    }
    .image-right {
      display: inline-block;
      clear: both;
      width: 100%;
      margin-bottom: 15px;
      @media(min-width: @screen-sm-min) {
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
        @media(min-width: @screen-sm-min) {
          width: initial;
          float: right;
          padding-left: 30px;
          margin-bottom: 0;
        }
      }
    }
    .image-left {
      display: inline-block;
      clear: both;
      width: 100%;
      margin-bottom: 15px;
      .file-upload {
        margin-bottom: 0;
      }
      @media(min-width: @screen-sm-min) {
          margin-bottom: 30px;
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
        @media(min-width: @screen-sm-min) {
          width: initial;
          float: left;
          padding-right: 30px;
          margin-bottom: 0;
        }
      }
    }
  }

  .left-blocks {
    @media(max-width: @screen-xs-max) {
      padding-right: 30px;
      padding-left: 30px;
    }
    padding-left: 0;
    h3 {
      margin-top: 0;
    }
    .block_template {
      margin-bottom:60px;
      .file-upload {
        overflow: hidden;
        margin-left:0;
        margin-bottom:0;
        margin-right:25px;
        img {
          margin-bottom: 10px;
        }
        @media(min-width: @screen-sm-min) {
          margin-right:0;
        }
      }
    }
  }

  .footer-image {
    clear: both;
    img {
      width: 100%;
    }
  }
}

.s_left {
  left: 0;
}

.s_show {
  display: block;
}
