.template-b-content {
  @media(max-width: @screen-xs-max) {
    margin-left: -30px;
    margin-right: -30px;
  }
  .tab-content {
    &>div {
      padding-top:55px;
      @media(min-width: @screen-sm-min) {
        padding-top:35px;
      }
    }
  }
}

.header-description-b {
  @media(max-width: @screen-xs-max) {
    padding-left: 30px;
    padding-right: 30px;
  }
  img {
    /*width:100%;*/
    margin-bottom:20px;
  }
}

.template-b-tabs {
  list-style-type:none;
  display: inline-block;
  padding: 0;
  padding-top:10px;
  margin-bottom:0;
  background-color:#fff;
  &.nav-tabs {
    border:none;
    & > li.active > a,
    & >  li.active > a:hover,
    & >  li.active > a:focus {
      border: none;
    }
  }
  li {
    float:left;
  }
  li a {
    float:left;
    margin-right:5px;
    color:@jewel-blue;
    padding-right:25px;
    &:hover {
      border:none;
      color:#F1601F;
    }
    &:focus {
      outline:none;
      text-decoration:none;
    }
  }
  li.active {
    a {
      color:#fff;
      background-color:#C1D730;
      &:hover {
       color:#fff;
       background-color:#C1D730;
      }
      &:focus {
       color:#fff;
       background-color:#C1D730;
      }
    }
  }
}

.template-b-tabs {
  @media(max-width: @screen-xs-max) {
    position:relative;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
    padding-top:25px;
    padding-bottom:10px;
    background: #008D9C;
    &:after {
      content: " ";
      position: absolute;
      border-top: 9px solid #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      top: 15px;
      right: 20px;
      z-index: 2;
      pointer-events: none;
      color: #fff;
    }
    li {
      float:none;
      display: none;
      padding: 0;
      color:#fff;
     a {
        float:none;
        display: block;
        font-size:16px;
        padding-top:6px;
        padding-bottom:6px;
        padding-right: 60px;
        border-bottom: none;
        color:#fff;
        text-align:right;
      }
      &.active {
        a {
          position: relative;
          border: none;
          background: #008D9C;
          color: #fff;
          text-align: right;
          padding-right: 60px;

        }
      }
    }
  }
}

.paragraph-region {
  h2 {
    @media(max-width: @screen-xs-max) {
      padding-left: 30px;
      padding-right: 30px;
      margin-top:0px;
    }
   @media(min-width: @screen-sm-min) {
      margin-bottom:20px;
      margin-top:0;
    }
  }
  .paragraph-content {
    text-align:initial;
    @media(max-width: @screen-xs-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .image-right {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      @media(min-width: @screen-sm-min) {
        width: auto;
        width: initial;
        margin-bottom: 0;
        float: right;
        padding-left: 30px;
      }
    }
    display: inline-block;
    clear: both;
    width: 100%;
  }
 .image-left {
   img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      @media(min-width: @screen-sm-min) {
        width: auto;
        width: initial;
        margin-bottom: 0;
        float: left;
        padding-right: 30px;
      }
    }
    display: inline-block;
    clear: both;
    width: 100%;
  }
  .image-full {
    text-align:center;
    > img {
      //max-width: 100%;
      //height: auto;
      //padding-top:25px;
      width: 100%;
    }
    p {
      margin-top:20px;
    }
    display: inline-block;
    clear: both;
    width: 100%;
  }
  .file-upload {
    margin-left:0;
    margin-right:3%;
    margin-bottom:0;
    display: block;
    padding-left: 0;
    width: 100% !important;
  }
}

.blocks-region {
  @media(max-width: @screen-xs-max) {
      padding-left:30px;
      padding-right:30px;
   }
  display: inline-block;
  width: 100%;
  clear: both;
  .block_template{
    padding:0;
    margin-bottom:30px;
    @media(min-width: @screen-sm-min) {
      padding:initial;
    }
  }
  &>div:last-child {
    @media(min-width: @screen-sm-min) {
      padding-right:0;
      padding-left:30px;
    }
  }
  &>div:first-child {
    @media(min-width: @screen-sm-min) {
      padding-left:0;
      padding-right:30px;
    }
  }
 .file-upload {
  margin-left:0;
  margin-bottom:0;
  margin-right:3%;
  padding-left: 0;
  img {
    margin-right: 10px;
  }
  @media(min-width: @screen-sm-min) {
    margin-right:0;
  }
 }
}

.fixed-section-template {
  position:fixed;
  top:0;
  max-width:1220px;
  width:100%;
  z-index:100;
  border-bottom:1px solid #eee;
  padding-bottom:10px;
}
