/*Provisory*/
#main {
	width: 1220px!important;
}
.page-workstream-tree h1#page-title {
	color: #1395A3;
	font-size: 36px;
	font-family: 'arial';
	font-weight: 700;
	margin-bottom: 0;
	text-transform: capitalize;
}
.node-type-workstream a:focus,
.page-workstream-tree a:focus {
	outline: none;
}
.page-workstream-tree .tabs {
	margin-bottom: 0;
}
.view-workstream-tree,
.node-type-workstream,
.page-workstream-tree-search {
	font-family: 'arial';
	position: relative;
}
.node-type-workstream .node-workstream {
	padding: 0;
}
.view-workstream-tree h3 a {
	color: #1395a3;
	font-size: 32px;
	font-family: 'arial';
	text-transform: capitalize;
}
.view-workstream-tree a:hover {
	text-decoration: none;
}
.view-workstream-tree .view-workstream-tree-projects {
	display: inline-block;
	width: 100%;
}
.view-workstream-tree h3 {
	clear: both;
}
.view-workstream-tree .view-workstream-tree-projects .view-content {
	padding: 0;
	display: inline-block;
}
.view-workstream-tree-projects .view-content {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}

.view-workstream-tree-projects .workstream-project {

}
.view-workstream-tree-projects .workstream-project.views-row-even {
	margin-right: 0;
}
.view-workstream-tree-projects .workstream-project img {
	width: 100%;
}
.view-workstream-tree-projects .workstream-project .views-field-title {
	font-family: 'arial';
	font-weight: 700;
	font-size: 13px;
	color: #707070;
	padding: 7px 25px 0 0;
	min-height: 50px;
}
.view-workstream-tree-projects .views-field-view-node {
	padding-right: 3px;
}

.view-workstream-tree-projects .views-field-filename {
	color: #707070;
	font-weight: 700;
	font-size: 13px;
	margin-top: 15px;
}
.view-workstream-tree-projects .views-field-filename span:first-letter {
	text-transform: uppercase;
}
.projects-details {
	float: left;
	width: 200px;
	padding-bottom: 15px
}
.projects-details .title {
	color: #666666;
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}
.projects-details .number-projects {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 10px;
	background-image: url('../images/camera.png');
	background-repeat: no-repeat;
	padding:2px 0 20px 50px;
	margin-bottom: 20px;
}
.projects-details a {
	background-color: #F1601F;
	background-image: url('../images/rightArrow.png');
	background-repeat: no-repeat;
	background-position: center  right 15px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px 20px;
}
.projects-details a:hover {
	color: #fff;
	text-decoration: none;
}
.view-workstream-last-child.view-display-id-page_2 .text-center,
.view-workstream-tree .text-center,
.view-comments-block .text-center {
	text-align: left;
}

.view-workstream-tree .item-list .pager,
.view-workstream-last-child.view-display-id-page_2 .text-center .pagination,
.view-workstream-tree .text-center .pagination {
	padding: 0 30px;
	text-align: left;
	text-transform: uppercase;
}

.view-workstream-last-child.view-display-id-page_2 .text-center .pagination,
.view-comments-block .text-center .pagination {
	text-align: left;
	text-transform: uppercase;
}

.view-workstream-tree .item-list .pager li a,
.view-workstream-last-child.view-display-id-page_2 .text-center .pagination li a,
.view-workstream-tree .text-center .pagination li a,
.view-comments-block .text-center .pagination li a {
	color: #707070;
	font-family: 'arial';
	font-weight: 700;
	font-size: 16px;
	background-color: transparent;
	border: none;
}
.pagination li a.progress-disabled {
 float: left!important;
}
.view-workstream-tree .item-list .pager li.pager-current,
.view-workstream-last-child.view-display-id-page_2 .item-list .pager li.pager-current,
.view-workstream-tree .text-center .pagination li.active a,
.view-workstream-last-child.view-display-id-page_2 .text-center .pagination li.active a,
.view-comments-block .text-center .pagination li.active a {
	color: #1395a3;
}
.view-workstream-tree .item-list .pager .pager-first {
	display: none;
}

.view-workstream-last-child .views-row {
	display: inline-block;
	margin-bottom: 80px;
	width: 100%;
}
.view-workstream-last-child .views-row {
	margin: 0;
}
.view-workstream-last-child {
	position: relative;
}
.view-workstream-last-child .views-field-picture img {
	border-radius: 50%;
	border: 1px solid #ACACAC;
}
.view-workstream-last-child .views-field-picture {
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	width: 55px;
}
.view-workstream-last-child .views-field.views-field-title {
	font-weight: normal;
}
.view-workstream-last-child .views-field-title a {
	color: #1395A3;
	font-size: 24px;
	padding-right: 20px;
	line-height: 30px;
}
.view-workstream-last-child  .views-field-name {
	color: #ACACAC;
	font-size: 16px;
	clear: both;
	display: inline-block;
	margin-bottom: 20px;
	width: calc(100% - 75px);
}

.view-workstream-last-child .views-field-sid,
.node-type-workstream .workflow-states {
	display: inline-block;
	margin-top: 7px;
}
.view-workstream-last-child .views-field-sid div,
.node-type-workstream .workflow-states div {
	float: left;
	font-size: 11px;
	color: #fff;
	padding: 3px 7px;
	text-transform: uppercase;
	background-color: #DEDEDE;
}
.view-workstream-last-child .views-field-sid div:nth-child(1),
.node-type-workstream .workflow-states div:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	z-index: 2;

}
.view-workstream-last-child .views-field-sid div:nth-child(2),
.node-type-workstream .workflow-states div:nth-child(2) {
	padding-left: 18px;
	position: relative;
	z-index: 1;
}
.view-workstream-last-child .views-field-sid div:nth-child(1)::after,
.view-workstream-last-child .views-field-sid div:nth-child(2)::after,
.node-type-workstream .workflow-states div:nth-child(1)::after,
.node-type-workstream .workflow-states div:nth-child(2)::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid #DEDEDE;
	position: absolute;
	right: -11px;
	top: 0;
}
.view-workstream-last-child .views-field-sid div:nth-child(2)::before,
.view-workstream-last-child .views-field-sid div:nth-child(3)::before,
.node-type-workstream .workflow-states div:nth-child(2)::before,
.node-type-workstream .workflow-states div:nth-child(3)::before {
	content: '';
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #fff;
	position: absolute;
	left: -1px;
	top: -3px;
}
.view-workstream-last-child .views-field-sid div:nth-child(3),
.node-type-workstream .workflow-states div:nth-child(3) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 18px;
	position: relative;
}
.view-workstream-last-child .views-field-sid div:nth-child(2).active,
.node-type-workstream .workflow-states div:nth-child(2).active {
	background-color: #D20000;
}
.view-workstream-last-child .views-field-sid div:nth-child(2).active::after,
.node-type-workstream .workflow-states div:nth-child(2).active::after {
	border-left: 11px solid #D20000;
}
.view-workstream-last-child .views-field-sid div:nth-child(1).active,
.node-type-workstream .workflow-states div:nth-child(1).active {
	background-color: #1395A3;
}
.view-workstream-last-child .views-field-sid div:nth-child(1).active::after,
.node-type-workstream .workflow-states div:nth-child(1).active::after {
	border-left: 11px solid #1395A3;
}
.view-workstream-last-child .views-field-sid div:nth-child(3).active,
.node-type-workstream .workflow-states div:nth-child(3).active {
	background-color: #07A300;
}

.view-workstream-last-child .views-field-field-images-workstream {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.view-workstream-last-child .views-field-field-images-workstream img {
	width: 100%;
}
.view-workstream-last-child .views-field-field-files-workstream img {
	width: 100%;
	height: auto;
}
.view-workstream-last-child .views-field-field-files-workstream .file img {
	display: none;
}

.view-workstream-last-child .views-field-field-files-workstream .file {
	width: 100%;
	height: 200px;
	display: block;
	background-color: #c5dbdd;
	background-image: url('../images/files.png');
	background-repeat: no-repeat;
	background-position: 40px 50px;
	position: relative;
}
.view-workstream-last-child .views-field-field-files-workstream .file a {
	position: absolute;
	right: 30px;
	left: 30px;
	bottom: 30px;
	color: #707070;
	font-weight: 700;
	font-size: 16px;
	text-align: right;
}
.view-workstream-last-child .views-field-view-node {
	display: inline-block;
	width: 200px
}
.view-workstream-last-child .views-field-view-node a {
	background-color: #F1601F;
	background-image: url('../images/rightArrow.png');
	background-repeat: no-repeat;
	background-position: center right 15px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px 20px;
}
.view-workstream-last-child .views-field-field-color-palette-workstream,
.view-workstream-last-child .views-field-comment-count,
.view-workstream-last-child .views-field-field-workstream-r2 {
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	margin-bottom: 10px;
	width: 200px;
}
.view-workstream-last-child .views-field-comment-count {
	margin-bottom: 15px;
}
.view-workstream-last-child .views-field-field-color-palette-workstream .colorfield-color-swatch {
	float: left;
	height: 25px!important;
	width: 20%!important;
}
.view-workstream-last-child .views-label-field-color-palette-workstream {
	display: block;
	margin-bottom: 5px;
}
.view-workstream-last-child .views-field-field-color-palette-workstream {
	padding-bottom: 15px;
	margin-bottom: 13px;
	border-bottom: 1px solid #ddd;
}
.view-workstream-last-child .views-field-field-color-palette-workstream .field-content {
	display: inline-block;
	width: 100%;
}
.view-workstream-last-child .views-field-field-workstream-r2 {
	border-bottom: 1px solid #ddd;
}
.view-workstream-last-child .views-field-field-workstream-r2 .form-group {}
.view-workstream-last-child .views-field-comment-count .comment,
.node-type-workstream .workstream-left-content .comments span {
	color: #ACACAC;
	display: inline-block;
	background-image: url(../images/bubble.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 23px;
	text-align: center;
	font-size: 11px;
	line-height: 23px;
	margin-left: 5px;
}
.views-submit-button .form-submit {
	background: #F1601F;
	border-radius: 2px;
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: 'arial';
	line-height: 30px;
	width: 120px;
}
.views-submit-button .form-submit:hover {
	background:	#F1601F;
}
.views-submit-button .form-submit:focus {
	outline: none;
}
.views-exposed-form .views-exposed-widget .form-submit {
	margin: 0!important;
}
.view-workstream-tree .views-exposed-form {
/*	position: absolute;
	right: 0;
	top: -60px;*/
}
.view-workstream-tree .views-exposed-form .views-exposed-widget {
	padding-right: 7px;
}
.view-workstream-last-child .views-exposed-widgets {
	display: inline-block;
}
.view-workstream-tree .views-exposed-widgets {
	padding-right: 5px;
}
.view-workstream-tree .views-exposed-widgets .form-autocomplete {
	background-color: #eeeeee;
	height: 28px;
	margin: 0;
	margin-bottom: 15px;
}
.view-workstream-tree .views-exposed-widgets .form-autocomplete .input-group input.form-text {
	background-color: #eeeeee;
	height: 38px;
	margin: 0;
	padding: 5px 10px;
	border-radius: 2px!important;
}
.view-workstream-tree .views-exposed-widgets .form-autocomplete .input-group span.input-group-addon {
	position: absolute;
	right: 22px;
	z-index: 2;
	top: 7px;
	background-color: #eee;
}
.view-workstream-tree form .views-submit-button button#edit-submit-workstream-last-child {
	padding: 5px 0!important;
	border-radius: 2px!important;
	font-style: normal;
}
.workstream-all-projects .view-content,
.workstream-final .view-workstream-last-child .view-content,
.workstream-final.view-workstream-last-child .view-content,
.workstream-final-projects .view-content {
	padding: 70px 0 0;
}
.workstream-final .view-content h3 {
	display: none;
}
.workstream-all-projects .view-workstream-last-child .view-content {
	padding: 0;
}
#block-workstreams-workstream-breadcrumb {
	color: #ACACAC;
}
#block-workstreams-workstream-breadcrumb a {
	color: #ACACAC;
}
#block-workstreams-workstream-breadcrumb a.active {
	color: #000;
}

/*Comments*/
.view-comments-block {
	padding-right: 100px;
}
.user-details img {
	border-radius: 50%;
	border: 1px solid #ACACAC;
	float: left;
	margin-right: 15px;
}
.user-details .user-name {
	color: #6D6D6D;
	display: inline-block;
	font-family: 'arial';
	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
	text-transform: capitalize;
	word-break: break-all;
	padding-right: 15px;
}
.user-details {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.node-type-workstream #comments {
	margin-top: 30px;
	clear: both;
	padding-top: 30px;
}
.node-type-workstream .comment-form .form-type-textarea label {
	display: none;
}
.node-type-workstream .comment-form {
	display: inline-block;
	position: relative;
	margin-bottom: 50px;
	width: 100%;
}
.node-type-workstream form.comment-form select.form-control {
	padding: 3px;
	min-width: 135px;
	width: 150px;
}

.user-details {
	display: inline-block;
}
.node-type-workstream .comment-form .form-type-textarea textarea {
	border: 1px solid #c9c9c9;
	background-color: #F3F3F3;
	resize: none;
	min-height: 100px;
	max-height: 115px;
	padding: 5px;
}
.node-type-workstream .comment-form .form-type-textarea .grippie {
	display: none;
}
 .comment-form label {
	font-family: 'arial'!important;
	font-size: 14px!important;
	font-weight: 700;
	color: #666666;
	padding-right: 25px;
}
.comment-form .form-type-fivestar .form-type-select,
.comment-form .field-type-list-integer select.form-select {
	display: inline-block;
}
.comment-form .field-type-list-integer label {
	min-width: initial;
}
.node-type-workstream .comment-form .field-name-field-file-workflow {
	margin-right: 120px;
}
.node-type-workstream .comment-form .field-name-field-file-workflow label {
	line-height: 32px;
	width: auto;
	padding-right: 15px;
}
.page-comment-reply .workstream-comment-button {
	position: inherit !important;
}
.workstream-comment-button {
	position: absolute !important;
  right: 0 !important;
	background: #F1601F !important;
	border: none !important;
	color: #fff !important;
	font-size: 16px !important;
	font-family: 'arial' !important;
	line-height: 30px !important;
	margin-right: 0!important;
	width: 100px !important;
	top: 125px;
}
.comment-form button#edit-submit {
	border-radius: 2px !important;
	padding: 5px 0 !important;
	font-style: normal;
}
.comment-form button#edit-submit:focus {
	outline: none;
}
.node-type-workstream .comment-form .field-type-fivestar {
	
}
.node-type-workstream .view-comments-block .view-header {
	color: #666;
	font-size: 14px;
	float: left;
}
.node-type-workstream .view-comments-block .view-filters {
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
	text-align: right;
}
.node-type-workstream .view-comments-block .views-exposed-widgets {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 15px;
}
.node-type-workstream .view-comments-block form {
	display: inline-block;
}
.node-type-workstream .view-comments-block .view-filters .views-exposed-form .views-exposed-widget {
	float: none;
	padding: 0;
}
.node-type-workstream .view-comments-block .view-filters label {
	display: none;
}
.node-type-workstream .view-comments-block .view-filters .form-type-bef-link {
	display: inline-block;
}
.node-type-workstream .view-comments-block .view-filters .form-type-bef-link a {
	color: #666;
	font-size: 14px;
	padding-left: 20px;
}
.node-type-workstream .view-comments-block .view-filters .form-type-bef-link a.active {
	font-weight: 700;
	color: #2B2B2B;
}
.node-type-workstream .view-comments-block .view-content .views-field-picture img {
	border-radius: 50%;
  border: 1px solid #ACACAC;
  float: left;
  margin-right: 15px;
}
.node-type-workstream .view-comments-block .view-content .views-field-picture {
	display: inline-block;
	float: left;
	width: 100%;
	padding-right: 10px;
}
.node-type-workstream .view-comments-block .view-content .user-name {
	color: #6D6D6D;
	display: inline-block;
	font-family: 'arial';
	font-weight: 700;
	font-size: 16px;
	margin-top: 20px;
	text-transform: capitalize;
	word-break: break-all;
	padding-right: 15px;
}
.node-type-workstream .view-comments-block .view-content .views-field-comment-body,
.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log  {
	display: inline-block;
	color: #acacac;
	line-height: 55px;
	font-size: 14px;
	width: 100%;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log .field-content  {
	line-height: 26px;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log  {
	position: relative;
	font-size: 	16px;
	padding-right: 0;
	width: 100%;
	margin-top: 15px;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log .created {
	color: #acacac;
	font-weight: 	initial;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log .workstream-bold {
	font-weight: 700;
	color: #666;
}
.node-type-workstream .view-comments-block .view-content .views-field-comment-body .field-content {
	line-height: 26px;
	display: inline-block;
	width: 100%;
}
.node-type-workstream .view-comments-block .view-content .views-field-comment-body .created {
	font-size: 16px;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow {

}
.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-4 {
	position: absolute;
	right: -95px;
	top: 35px;
	background-color: #07A300;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-3 {
	position: absolute;
	right: -135px;
	top: 35px;
	background-color: #D20000;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-2 {
	position: absolute;
	right: -85px;
	top: 35px;
	background-color: #1395A3;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
.node-type-workstream .view-comments-block .view-content .views-row {
	border-bottom: 1px solid #ddd;
	display: inline-block;
	position: relative;
	padding: 25px 0;
	width: 100%;
}
.node-type-workstream .user-picture {
	float: left;
	margin-right: 20px;
	width: 55px;
}
.node-type-workstream .user-picture img {
	border: 1px solid #ACACAC;
	border-radius: 50%;
	margin-bottom: 0;
	margin-top: 10px;

}
.node-type-workstream h2 {
	margin: 0;
}
.node-type-workstream .node-title {
	color: #1395A3;
	font-size: 24px;
	padding-right: 20px;
	line-height: 30px;
	margin-top: 7px;
}
.node-type-workstream h2 {
	line-height: 30px;
}
.node-type-workstream .submitted {
	color: #ACACAC;
	font-size: 16px;
	clear: both;
	display: inline-block;
	margin-bottom: 20px;
	width: calc(100% - 75px);
}
.node-type-workstream .breadcrumb-workflow {
	clear: both;
	margin-bottom: 50px;
}
.workstream-left-content .state-4,
.workstream-left-content .state-3,
.workstream-left-content .state-2,
.workstream-left-content .rate-design,
.workstream-left-content .rate-package,
.workstream-left-content .comments,
.workstream-right-content .rate-design,
.workstream-right-content .rate-package {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.workstream-right-content .rate-design,
.workstream-right-content .rate-package {
	width: 25%;
}
.workstream-left-content .rate-design {
	text-align: center;
}
.workstream-left-content .rate-package,
.workstream-left-content .comments {
	text-align: right;
}
.state-4 .state,
.state-3 .state,
.state-2 .state {
	display: inline-block;
	background-color: #07A300;
	color: #fff;
	font-weight: normal;
	font-size: 11px;
	padding: 4px 7px;
	border-radius: 5px;
	text-transform: uppercase;
}
.state-3 .state {
	background-color: #D20000;
}
.state-2 .state {
	background-color: #1395A3;
}
.workstream-left-content {
	display: inline-block;
	width: 100%
}
.workstream-left-content .content {
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
}
.workstream-left-content .content h3 {
	font-size: 24px;
	color: #666666;
	margin: 0 0 10px;
}
.workstream-left-content .description {
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}

.workstream-left-content .field-name-field-files-workstream {
	margin-bottom: 15px;
}
.workstream-left-content .content {
	margin-top: 20px;
}
.node-type-workstream .workstream-left-content .rate-design span,
.node-type-workstream .workstream-left-content .rate-package span {
	background-image: url('../images/emptyStar.png');
	background-repeat: no-repeat;
	color: #ACACAC;
	display: inline-block;
	font-weight: normal;
	font-size: 11px;
	width: 27px;
	height: 25px;
	line-height: 26px;
	text-align: center;
}

.workstream-right-content {
	display: inline-block;
	width: 100%;
}

.workstream-right-content .color-pallete {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	padding-bottom: 15px;
	margin-bottom: 10px;
	width: 100%;
}
.field-name-field-color-palette-workstream {
	padding-top: 5px;
}
.field-name-field-color-palette-workstream .field-item {
	float: left;
	width: 20%;
}
.field-name-field-color-palette-workstream .field-item .colorfield-color-swatch {
	height: 20px!important;
	width: 100%!important;
}
.workstream-right-content .rate-design,
.workstream-right-content .rate-package {
	float: none;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}
.workstream-right-content .rate-design .votes,
.workstream-right-content .rate-package .votes {
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	text-align: right;
}
.workstream-right-content .rate-design .field-type-fivestar,
.workstream-right-content .rate-package .field-type-fivestar {
	float: left;
}

/*Slider*/
.workstream-left-content .flexslider,
.workstream-right-content .flexslider {
	margin: 0;
}
.workstream-left-content .flexslider ul,
.workstream-right-content .flexslider ul {
	padding: 0;
	margin: 0;
}
#carousel {
	display: none;
	float: left;
	margin-left: 6%;
	width: 94%;
}
#carousel-control {
	margin-bottom: 10px;
}
#slides .flex-direction-nav {
	display: none;
}
#carousel li img {
	margin-bottom: 30px;
	cursor: pointer;
}
.flex-next:before,
.flex-prev:before {
	content: none!important;
}
#carousel .flex-direction-nav a {
	opacity: 1;
}
#carousel .flex-next {
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	opacity: 1;
	bottom: -60px;
	font-size: 0;
	top: initial;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	display: block;
}
#carousel .flex-prev{
	background-image: url('../images/arrow-up.png');
	background-repeat: no-repeat;
	opacity: 1;
	top: -20px!important;
	font-size: 0;
	top: initial;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
	display: block;
}
#carousel-control .flex-next {
	background-image: url('../images/arrow-down.png');
	background-repeat: no-repeat;
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	text-indent: 9999px;
	right: -40px;
	width: 50px;
	height: 20px;
	opacity: 1;
	display: block;
}
#carousel-control .flex-next:focus {
	outline: none;
}
#carousel-control .flex-prev {
	background-image: url('../images/arrow-up.png');
	background-repeat: no-repeat;
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	text-indent: 9999px;
	left: -25px;
	opacity: 1;
	display: block;
}
#carousel-control .flex-prev:focus {
	outline: none;
}
.three-img {
	height: 360px;
}
#carousel .flex-next:focus,
#carousel .flex-prev:focus {
	outline: none;
}
#carousel li img:last-child {
	margin-bottom: 0;
}

.workstream-right-content .details {
	width: 100%;
	margin-top: 85px;
}
.workstream-right-content .download-sizes {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.workstream-right-content .download-sizes .label {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	width: 100%;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 0;
}
.workstream-right-content .download-sizes .content {
	margin: 0;
}
.workstream-right-content .download-sizes .field-collection-container {
	margin: 0;
	border: 0;
}
.workstream-right-content .download-sizes .field-collection-container .field-item {
	margin: 0;
}
.workstream-right-content .download-sizes .field-collection-container .field-item .field-collection-view {
	margin: 0;
	padding: 0;
	border: 0;
}
.workstream-right-content .download-sizes .field-collection-container .field-item .field-collection-view .content {
	display: block;
}
.workstream-right-content .download-sizes .field-collection-container .field-item .field-name-field-size-wrokstream {
	float: left;
	color: #666;
	font-weight: 700;
	font-size: 12px;
	padding-left: 10px;
}
.workstream-right-content .download-sizes .field-collection-container .field-item .field-name-field-image-wrokstream {
	float: right;
	font-size: 12px;
}
.workstream-right-content .download-sizes .field-collection-container .field-item .field-name-field-image-wrokstream a {
	color: #666;
}
.workstream-right-content .attached-file {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.workstream-right-content .attached-file .label {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	width: 100%;
  padding-bottom: 10px;
}
.workstream-right-content .attached-file .label {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	width: 100%;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 0;
}
.workstream-right-content .attached-file a {
	color: #666;
	font-size: 14px;
}
.workstream-right-content .status-average {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.workstream-right-content .status-average .label {
	color: #666;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	width: 100%;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 0;
}
.workstream-right-content .status-average .workflow-count {
	padding: 0;
	border: 0;
	display: inline-block;
	width: auto;
  padding: 0 12px;
  color: #666;
}
.workstream-right-content .status-average .workflow-state {
	margin: 0;
  display: inline-block;
}
.workstream-right-content .status-average .workflow-state .state {
	height: 10px;
	width: 10px;
	display: block;
	border-radius: 50%;
}
.workstream-right-content .status-average .workflow-state .state-2 {
	background-color: #1395A3;
}
.workstream-right-content .status-average .workflow-state .state-3 {
	background-color: #D20000;
}
.workstream-right-content .status-average .workflow-state .state-4 {
	background-color: #07A300;
}

.custom-breadcrumb,
.custom-breadcrumb span a {
	color: #ACACAC;
}
.custom-breadcrumb span a.active {
	color: #000;
}
.field-name-field-workstream-r1 {
	padding-right: 15px;
}
div.fivestar-widget-static .star span.on {
  background: url(../images/star.png) no-repeat 0 -17px !important;
}
div.fivestar-widget div.hover a, div.rating div a:hover {
  background: url(../images/star.png) no-repeat 0 -17px !important;
}
.index-custom-link {
	width: 200px;
  margin: 15px 0;
}
#block-workstreams-workstream-settings,
#block-workstreams-workstream-index {
	width: 200px;
	float: left;
	margin-right: 15px;
}
.workstream-sett {
	background-color: #F1601F;
	background-image: url(/sites/all/modules/custom/workstreams/images/rightArrow.png);
	background-repeat: no-repeat;
	background-position: center right 15px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 7px 20px;
	margin-top: 10px;
}
@media(max-width: 400px) {
	.node-type-workstream .view-comments-block form {
		display: block;
		margin-top: 10px;
	}
	.node-type-workstream .view-comments-block .views-exposed-widgets {
		margin-top: 15px;
		text-align: left;
	}
	.node-type-workstream .view-comments-block .view-filters .form-type-bef-link a { 
		padding-left: 0;
		padding-right: 20px;
	}
}
@media(max-width: 767px) { 
	.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-3,
	.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-2,
	.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-4  { 
		position: inherit;
		display: inline-block;
	}
	.view-comments-block {
		padding: 0;
	}
	.workstream-right-content .details {
		margin-top: 0!important
	}
}
@media(max-width: 500px) {
	.page-workstream-tree .region-content,
	.node-type-workstream .region-content {
		margin: 0;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-field-file-workflow .state-3 { 
		right: -100px;
	}
	.workstream-comment-button { 
		position: inherit!important;
		display: block!important;
		clear: both;
	}
	.node-type-workstream .comment-form .field-name-field-file-workflow { 
		margin-right: 0;
	}
}
@media(min-width: 500px) {
	.view-workstream-tree-projects .workstream-project {
		float: left;
		margin-right: 2%;
		width: 48%;
	}
}
@media(min-width: 600px) {
	.workstream-all-projects .view-content,
	.workstream-final .view-workstream-last-child .view-content,
	.workstream-final.view-workstream-last-child .view-content,
	.workstream-final-projects .view-content { 
		padding: 70px 70px 0;
	}
	.view-workstream-tree .item-list .pager,
	.view-workstream-tree .text-center .pagination {
		padding: 0 70px;
	}
	.view-workstream-tree .views-exposed-widgets .form-autocomplete {
		width: 250px;
		margin: 0;
	}
	.view-workstream-tree .views-exposed-widgets .form-autocomplete .input-group input.form-text {
		width: 250px;
	}
}
@media(min-width: 768px) {
	#carousel-control {
		display: none;
	}
	#carousel {
		display: block;
	}
	.workstream-left-content {
		width: 75%;
	}
	#slides {
		margin-bottom: 15px;
	}
	.view-workstream-last-child .views-field-title a,
	.node-type-workstream .node-title {
		font-size: 31px;
		line-height: 20px;
		margin-top: 7px;
	}
	.node-type-workstream .user-picture img {
		margin-top: 0;
	}
	.workstream-right-content {
			width: 25%;
			float: right;
	}
	.workstream-left-content .content {
		background-color: #F8F8F8;
		padding: 25px 30px;
	}
	.workstream-right-content .details {
		margin-left: 10%;
		width: 90%;
		margin-top: 85px;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log  {
		width: 75%;
		margin-top: 0;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-picture { 
		width: 25%;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-comment-body .created {
		position: absolute;
		right: 0;
		top: 40px;
		font-size: 16px;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log .created {
		color: #acacac;
		font-weight: 	initial;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	.node-type-workstream .view-comments-block .view-content .views-field-comment-body,
	.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log  { 
		width: 75%;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log {
		padding-right: 	130px;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-comment-body .field-content {
		width: 70%;
	}
	.view-workstream-tree .views-exposed-form {
		position: absolute;
		right: 0;
		top: -60px;
	}
	.user-details {
		display: inline-block;
		float: left;
		width: 25%;
	}
	.node-type-workstream .comment-form {
		width: 75%;
	}
}
@media(min-width: 900px) {
	.workstream-all-projects .view-content,
	.workstream-final .view-workstream-last-child .view-content,
	.workstream-final.view-workstream-last-child .view-content,
	.workstream-final-projects .view-content { 
		padding: 70px 130px 0;
	}
	.view-workstream-tree .item-list .pager,
	.view-workstream-tree .text-center .pagination {
		padding: 0 130px;
	}

	.view-workstream-tree-projects .workstream-project {
		margin-right: 0.3%;
		width: 24.7%;
	}
	.view-workstream-tree-projects .workstream-project.views-row-even {
		margin-right: 0.3%;
	}
	.view-workstream-last-child .views-field-title a,
	.node-type-workstream .node-title {
		float: left;
	}
	.workstream-left-content {
		width: 60%;
	}
	.workstream-right-content {
		width: 40%;
	}
	#carousel {
		width: 41%;
	}
	.workstream-right-content .details {
		float: left;
		width: 44%;
		margin-top: 0;
		margin-left: 6%;
	}
	.workstream-left-content .state-4,
	.workstream-left-content .state-3,
	.workstream-left-content .state-2,
	.workstream-left-content .rate-design,
	.workstream-left-content .rate-package,
	.workstream-left-content .comments {
		width: 25%;
		margin-right: 0;
	}
	.node-type-workstream #comments {
		margin-top: 100px;
		padding-top: 0;
	}
	.node-type-workstream .view-comments-block .view-filters {
		text-align: right;
	}
}
@media(min-width: 1024px) {
	.view-workstream-tree-projects .view-content {
		float: left;
		width: 75%;
	}
	.view-workstream-last-child .views-field-field-images-workstream {
		float: left;
		width: 75%;
		margin-right: 3%;
	}
	.projects-details {
		padding-top: 17px;
		margin-left: 3%;
		width: 22%;
	}
	.view-workstream-last-child .views-field-view-node,
	.view-workstream-last-child .views-field-field-color-palette-workstream,
	.view-workstream-last-child .views-field-comment-count,
	.view-workstream-last-child .views-field-field-workstream-r2  {
		width: 22%;
	}
	.workstream-comment-button {
		
	}
	.node-type-workstream .comment-form .field-name-field-file-workflow {
		float: right;
	}
	.node-type-workstream .comment-form .field-type-fivestar {
		float: left;
	}
	.node-type-workstream form.comment-form select.form-control {
		padding: 3px;
		min-width: 135px;
		width: auto;
	}
	.node-type-workstream .view-comments-block .view-content .views-field-field-comment-log  { 
		padding-right: 0;
	}
	.view-workstream-last-child .views-field-field-color-palette-workstream,
	.view-workstream-last-child .views-field-comment-count,
	.view-workstream-last-child .views-field-field-workstream-r2 {
		display: inline-block;
	}
}
@media(min-width: 1200px) {
	.node-type-workstream .node-workstream {
		padding: 0 130px;
	}
	.view-comments-block {
		padding-right: 0;
	}
}
.node-type-workstream .field-name-field-attached-file-comm {
  float:left;
  clear: both;
}
.node-type-workstream .field-name-field-attached-file-comm label {
  float: left;
}
.node-type-workstream .field-name-field-attached-file-comm .form-managed-file {
  float: left;
}
  @media (min-width: 768px) {
  	.node-type-workstream .field-name-field-attached-file-comm .form-managed-file {
    	width: 69%;
    }
  }
.node-type-workstream .field-name-field-attached-file-comm .form-managed-file input {
  padding: 3px;
}
.node-type-workstream .field-name-field-attached-file-comm p.help-block {
  float: left;
}

.workstream-right-content .attached-file {
  max-height: 280px;
  overflow: auto;
  overflow: overlay;
}
.workstream-right-content .attached-file ul.attached-files {
  list-style: none;
  padding-left: 10px;
}

.download-sizes-images li {
  list-style: none;
}
ul.download-sizes-images {
  padding-left: 10px;
}
.download-sizes-images li a{
  color: #666;
  font-size: 12px;
  font-weight: 700;
}
.download-sizes-images li a.workstreams-size-image{
  text-align:right;
  display:block;
  font-weight: lighter;
}
.attached-file a.zip-files {
  color: #008d9c;
}


